@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ngrtke');
  src:  url('../fonts/icomoon.eot?ngrtke#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ngrtke') format('truetype'),
    url('../fonts/icomoon.woff?ngrtke') format('woff'),
    url('../fonts/icomoon.svg?ngrtke#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /** speak: none; **/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}
.icon-menu-square-button:before {
  content: "\e901";
}
.icon-addressuser:before {
  content: "\e902";
}
.icon-appointment:before {
  content: "\e903";
}
.icon-baby:before {
  content: "\e904";
}
.icon-bin:before {
  content: "\e905";
}
.icon-call:before {
  content: "\e906";
}
.icon-cancel:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-credit-card:before {
  content: "\e909";
}
.icon-dish:before {
  content: "\e90a";
}
.icon-edit:before {
  content: "\e90b";
}
.icon-email:before {
  content: "\e90c";
}
.icon-external-link:before {
  content: "\e90d";
}
.icon-facebook-logo:before {
  content: "\e90e";
}
.icon-foreign:before {
  content: "\e90f";
}
.icon-gift:before {
  content: "\e910";
}
.icon-gift2:before {
  content: "\e911";
}
.icon-health:before {
  content: "\e912";
}
.icon-heart:before {
  content: "\e913";
}
.icon-heartuser:before {
  content: "\e914";
}
.icon-heartwhite:before {
  content: "\e915";
}
.icon-honeymoon:before {
  content: "\e916";
}
.icon-instruction:before {
  content: "\e917";
}
.icon-keyboard-right-arrow-button:before {
  content: "\e918";
}
.icon-knowledge:before {
  content: "\e919";
}
.icon-left-arrow:before {
  content: "\e91a";
}
.icon-left-arrow-key:before {
  content: "\e91b";
}
.icon-linkedin-logo:before {
  content: "\e91c";
}
.icon-lock:before {
  content: "\e91d";
}
.icon-logout:before {
  content: "\e91e";
}
.icon-museum:before {
  content: "\e91f";
}
.icon-notification:before {
  content: "\e920";
}
.icon-online-shopping-cart:before {
  content: "\e921";
}
.icon-photo-camera:before {
  content: "\e922";
}
.icon-placeholder:before {
  content: "\e923";
}
.icon-purse:before {
  content: "\e924";
}
.icon-star:before {
  content: "\e925";
}
.icon-stargray:before {
  content: "\e926";
}
.icon-thumbsup:before {
  content: "\e927";
}
.icon-tick-inside-circle:before {
  content: "\e928";
}
.icon-tick-orange:before {
  content: "\e929";
}
.icon-twitter-logo:before {
  content: "\e92a";
}
.icon-up-arrow-key:before {
  content: "\e92b";
}
.icon-user:before {
  content: "\e92c";
}
.icon-userprofile:before {
  content: "\e92d";
}
.icon-wallet:before {
  content: "\e92e";
}
.icon-writing:before {
  content: "\e92f";
}
