@mixin sitefont{
    font-size:$fsize;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
@mixin subtitle{
    font-size:$fsize + 8; 
    font-family: 'Poppins', sans-serif;      
}
@mixin fbold{
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
@mixin flight{
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
@mixin title{
    font-family: 'Great Vibes', cursive;
    font-size:$fsize + 50;
    font-weight: normal;
    line-height: $fsize + 70;
}
@mixin py20{
    padding-top:20px;
    padding-bottom:20px;
}
@mixin px20{
    padding-right:20px;
    padding-left:20px;
}
@mixin my20{
    margin-top:20px;
    margin-bottom:20px;
}
@mixin mx20{
    margin-right:20px;
    margin-left:20px;
}
@mixin headsection{
    width:95%;
    margin:0 auto;
}
@mixin py0{
    padding-top:0;
    padding-bottom:0;
}
@mixin focusinput{
    box-shadow: none;    
}
@mixin boxshadow{
    box-shadow: 0 0 6px #626262;
    -moz-box-shadow: 0 0 6px #626262;
    -webkit-box-shadow: 0 0 6px #626262;
    -ms-box-shadow: 0 0 6px #626262;
    -o-box-shadow: 0 0 6px #626262; 
}
@mixin positionabsolute{
    position: absolute;
    top:0;
    right:0;
    left:0;
}
@mixin transition{
    transition:  all 0.2s ease;
    -moz-transition:  all 0.2s ease;
    -webkit-transition:  all 0.2s ease;
    -ms-transition:  all 0.2s ease;
    -o-transition:  all 0.2s ease;
}
@mixin imgzoom{
    transform: scale(1,1);
}
@mixin greenbtn{
    background:$primarycolor;
    padding:10px 15px;
    color:$whitecolor;
    text-transform: uppercase;   
    font-size:$fsize;
    border-radius:5px;
    border:1px solid transparent;
    text-align:center!important;
}
@mixin greenbtnhover{
    border:1px solid $primarycolor;
    color:$primarycolor!important;
    background:none;
}
@mixin whitebtn{
    background:none;
    padding:10px 15px;
    color:#bebfc5!important;
    border:1px solid #bebfc5;
    text-transform: uppercase;    
    font-size:$fsize;
    border-radius:5px;
}
@mixin whitebtnhover{
    border:1px solid $primarycolor;
    color:$primarycolor!important;
    background:none;
}

@mixin objectfit{
    object-fit:cover;
    -moz-object-fit:cover;
    -webkit-object-fit:cover;
    -ms-object-fit:cover;
    -o-object-fit:cover;
}








//mixins for responsive breakpoints
@mixin mobile{
    @media (min-width:#{$mobile-width}) and (max-width:#{$tablet-width - 1px}){
        @content;
    }
}

@mixin tablet{
    @media (min-width:#{$tablet-width}) and (max-width:#{$laptop-width - 1px}){
        @content;
    }
}

@mixin laptop{
    @media (min-width:#{$laptop-width}) and (max-width:#{$desktop-width - 1px}){
       @content; 
    }
}
