
/*!
 * jQuery simple gallery Plugin 1.1.0
 *
 * http://fernandomoreiraweb.com/
 *
 * Copyright 2013 Fernando Moreira
 * Released under the MIT license:
 *   http://mit.fernandomoreiraweb.com/
 */


.simplegallery {  
  width: 100%;
  height: 600px;  
}

.simplegallery .content { 
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  float:right;
}

.simplegallery .content img {
  width: 100%; 
  height:500px;
  object-fit: cover;
  object-position: center;
}

.simplegallery .thumbnail {  
  width:100%;
  margin-right:10px;
  float:left;
  height:auto;  
 }

.simplegallery .thumbnail .thumb {
  float: left;
  width: 20%;
  height: 100px;
  margin: 0 0 6px 0;
  cursor: pointer;
}

.simplegallery .thumbnail .thumb img {
  width: 100%;
  height:100px;
  object-fit: cover;
  object-position: center;
}

.simplegallery .thumbnail .last { margin: 0; }

@media only screen and (min-width:320px) and (max-width:767px){
  .simplegallery .thumbnail{
    width:100%;
    height:auto;
  }
  .simplegallery .thumbnail .thumb{
    width:20%;
    height:auto;
  }
  .simplegallery .content{
    width:100%;
    height:375px;
  }
  .simplegallery .content img{
    height:370px;
  }
  .simplegallery .thumbnail .thumb img{
    height:70px;
  }
  .simplegallery{
    height:auto;
  }
}
@media only screen and (min-width:768px) and (max-width:991px){
  .simplegallery .content img{
    height:524px;
  }
}
