@import 'variables';
@import 'mixins';

//fonts poppins
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600');

//font Great vibes
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');


//common styles 

body{
    @include sitefont;
    height:100%;
    background:$bodybg;
}

a{
    &:hover{
        text-decoration: none;
    }
}

.hometitle{
    position:relative;
    padding:25px 0;

    &:before{
        content:'';
        width:100%;
        height:1px;
        background:$primarycolor;
        position:absolute;
        top:50%;
        left:0;
        right:0;
        z-index: -1;        
    }    

    h3{
        @include title;
        color:$primarycolor;
        font-size:$fsize + 35;
        background:$bodybg;
        position: relative;
        z-index: 999;
        display: inline-block;
        @include px20; 
        line-height: inherit;    
        
        @include mobile{
            font-size:$fsize + 20;
       }
    }
}
.titlecat{
    background:$secondarycolor;
    min-height: 48px;
    margin-bottom:10px;
    
    h4{
        padding:15px 0 0 5px;
        color:$whitecolor;
        font-size:$fsize + 4;

        @include mobile{
            font-size:$fsize + 1;
            padding-left:10px!important;
        }
    }
    a{
        background:$whitecolor;
        color:$primarycolor;
        line-height: 40px;
        @include px20;
        text-transform: uppercase;
        font-size:$fsize + 1;
        letter-spacing: 2px;
        position: relative;
        right:-5px;

        @include mobile{
            letter-spacing: 0;
            font-size:$fsize;
            padding:6px 8px;
            line-height: 27px;
        }

        &:hover{
            background:$primarycolor;
            color:$whitecolor;
        }
    }
}
//product item  in list 

.productitem{
    position:relative;
    @include transition;
    margin:5px 0 ;
    height:430px;

    @include mobile{
        height:330px;
    }
    @include tablet{
        height:328px;
    }
    @include laptop{
        height:380px;
    }    

    &:hover{
        @include boxshadow; 
    }

    .cattag{
        position:absolute;
        top:0;
        left:0;
        color:$whitecolor;
        text-transform: uppercase;       
        padding:5px;
        font-size:$fsize - 2;
        z-index: 99;
    }
    .flowers{
        background:$flower;
    }
    .cakes{
        background:$cakes;
    }
    .chocklate{
        background:$chocklate;
    }
    .fashion{
        background:$biotique;
    }

    &:hover{
        .hover{
            background:rgba(255,255,255,0.8);

            .nav{
                opacity:1;
                margin-top:48%;

                li{
                    a{
                        .icomoon{
                            font-size:24px;
                            color:$whitecolor;
                        }
                    }
                }
            }
        }          
    }

    figure{
        position:relative;
        img{
            height:275px;
            object-fit: cover;
            width:100%;

            @include mobile{
                height:175px;
            }
            @include tablet{
                height:190px;
            }
            @include laptop{
                height:225px;
            }
           
        }
        .hover{
            background:rgba(255,255,255,0);
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            @include transition;           

            .nav{
                text-align: center;
                margin-top:-10px;
                opacity: 0;
                display: inherit;
                @include transition;
                li{
                    margin:0 1px;
                    display: inline-block;
                    float: none;
                    a{
                        background:$darkcolor;
                        width:40px;
                        height:40px;
                        line-height: 54px;

                        &:hover{
                            background:$primarycolor;
                        }

                        img{
                            height:25px;
                            width:auto;
                        }
                    }
                }
            }
        }
    }

    article{
        background:$whitecolor;
        height: 155px;
        padding:25px 15px;
        box-sizing: border-box;
        margin-top:-7px;

        @include tablet{
            height:138px;
        }

        .proname{
            font-size:$fsize + 2;
            color:lighten($darkcolor, 50%);

            &:hover{
                color:$secondarycolor;
            }

            @include mobile{
                font-size:$fsize - 1;
            }
            @include tablet{
                font-size:$fsize - 1;
            }           
            @include laptop{
                font-size:$fsize;
            } 
        }
        p{
            font-size:$fsize + 6;
            padding:10px 0; 

            @include mobile{
                font-size: $fsize - 2;
                padding:0;
            }
            @include tablet{
                font-size: $fsize - 2;
                padding:0;
            }
            @include laptop{
                font-size: $fsize - 1;
                padding:0;
            }
            
            span{
                font-size:$fsize + 1;
                color:#949494;
                text-decoration: line-through;
                padding-left:5px;

                @include mobile{
                    font-size: $fsize - 4;
                }
                @include tablet{
                    font-size: $fsize - 4;
                }
            }
        }
        .btnlist{
            color:$darkcolor;
            border:1px solid $secondarycolor;
            line-height: 35px;
            padding:0 15px;
            margin-top:10px;
            font-size:$fsize;

            @include mobile{
                line-height: 25px;
                padding:0 7px;
                font-size: $fsize - 2;
            }

            &:hover{
                background:$secondarycolor;
                color:$whitecolor;
            }
        }        
    }
}
.parentHorizontalTab{
   .resp-tab-content{
       border:none;      
   }
   .resp-tabs-container{
        background:none;
   }
   .resp-tabs-list{
       text-align: center;
       padding-bottom:25px;
       li{
           text-transform: uppercase;
           display: inline;
           float:none;
       }
        .resp-tab-active{
            background:$secondarycolor!important;
            border:none!important;
            color:$whitecolor;
        }
   }
}

main{
    padding-top:200px;
    min-height: 500px;

    @include mobile{
        padding-top:244px;
    }
    @include tablet{
        padding-top:320px;
    }
    @include laptop{
        padding-top:169px;
    }
}

.greenlink{
    @include greenbtn;
    text-align:center;    
    border:1px solid transparent;   
    cursor: pointer;
    @include transition; 
    
    @include mobile{
        padding:7px;
        font-size:$fsize - 2;
    }
    @include tablet{
        padding:7px;
        font-size:$fsize - 2;
    }


    &:hover{
       @include greenbtnhover;
    }
}

//common styles ends 
//header styles 
header{   
    .topheader{
        background:$primarycolor;
        padding:5px 0;
        color:$whitecolor;
        font-size:$fsize - 1;
        @include transition;

      

        @include mobile{
            .navbar{
                padding-left:0;
                padding-bottom:0;
            }
        }

        @include tablet{
            .navbar{
                padding-left:0;
                padding-bottom:0;
            }
        }
        

        @include mobile{
            .navbar-toggler{
                border-color:$whitecolor;
                position:absolute;
                top:-23px;
                right:0;
                font-size:1rem;

                .icomoon{
                    color:$whitecolor;
                }
            }
        }

        @include tablet{
            .navbar-toggler{
                border-color:$whitecolor;
                position:absolute;
                top:-25px;
                right:0;
                font-size:1rem;

                .icomoon{
                    color:$whitecolor;
                }
            }
        }

        .nav-link{
            color:$whitecolor!important;
            @include py0;

            &:hover{
                color:$secondarycolor!important;
            }

            @include mobile{
                padding:10px 0;
            }
            @include tablet{
                padding:10px 0;
            }
        }
       
        .social{
            border-left:1px solid $whitecolor;
            padding-left:10px;
            margin-left:5px;

            @include mobile{
                border:none;
                margin:20px 0 0 0;
                padding:0;
            }
            a{
                padding-right:10px;
                img{
                    height:15px;
                }

                .icomoon{
                    color:$whitecolor;                    
                }
            }
        }
        .leftnav{

            @include tablet{
                margin-top:10px;
            }
            li{
                padding-right:20px; 
                
                @include mobile{
                   padding-top:5px;
                }  
                .dropdown-menu{
                    min-width:100px;
                    .dropdown-item{
                        font-size:$fsize - 1;
                    }
                }
            }
        }       
    }
    .headercontainer{
        @include headsection;
    }
    //middle header starts
    .middle-header{
        background:$whitecolor;
        .navbar-brand{

            img{
                width:300px;

                @include mobile{
                    width:250px;
                }
                @include laptop{
                    width:200px;
                }
            }

            @include mobile{
                margin:0 auto;
                width:100%;
                text-align:center;
            }
            @include tablet{
                margin:0 auto;
                width:100%;
                text-align:center;
            }
        }
        .navbar-nav{
            display:inherit;
            float:right;

            @include mobile{
                display:block;
                text-align:center;
                padding-bottom:15px;
                float:none;
            }
            @include tablet{
                display:block;
                text-align:center;
                padding-bottom:15px;
                float:none;
                padding-top:15px;
            }
            .nav-item{
               float:left;
               flex-direction:inherit;

                @include mobile{
                    display:inline;
                    float:none;
                }
                @include tablet{
                    display:inline;
                    float:none;
                }
                .nav-link{
                    color:$darkcolor;
                    line-height: 28px;
                    padding-top:0;
                    margin-left:15px;
                    font-size:$fsize;
                    display:inline-block;

                   

                    @include mobile{
                        margin-left:0;
                        margin-right:10px;
                        display:inline-block;
                    }
                   
                    .svg{
                        width:18px;
                        margin-right:5px;
                        margin-top:4px;
                        float: left;
                    }
                    .vol{
                        width:25px;
                        height:27px;
                        background:$secondarycolor;
                        display: inline-block;
                        text-align: center;                        
                        color:$whitecolor; 
                    }
                    .icomoon{
                        font-size:18px;
                        padding-right:5px;
                        padding-top:5px;
                        float:left;

                        @include mobile{
                            display:none;
                        }                       
                    }
                }
            }
        }
        //serarch
        .headersearch{
            border:1px solid lighten($darkcolor, 80%);
            height:42px;
            min-width:500px;
            padding:2px;
            display: flex;

            @include mobile{
                min-width:100%;
                margin-bottom:20px;
            }
            @include laptop{
                min-width:100%;               
            }

            input[type="text"]{
                border:none;
                width:85%;
                padding:0 0 0 10px;
                font-size:$fsize - 1;

                @include tablet{
                    width:88%;
                }

                &:focus{
                   @include focusinput;
                    outline:none;
                    border:none;
                }
                &::placeholder{
                    color:#c1c1c1;
                }
            }
            input[type="submit"]{
                background:$darkcolor;               
                color:$whitecolor;
                padding:0 20px;
                border:none;
                cursor: pointer;
                
                &:hover{
                    background:$primarycolor;
                }
                &:focus{
                    outline:none;
                }
            }
        }
        //search ends
        .dropdown-menu{
            border-radius:0;
            @include py0;
            position:absolute;
            .dropdown-item{
                padding:12px;
                font-size:$fsize;

                &:hover{
                    background:$primarycolor;
                    color:$whitecolor;
                }
            }
        }
    }
    //middle nav bar ends 
    //bottom nav bar starts
    .bottomnavbar{
        background:$secondarycolor;       
        position:relative;
        z-index: 999;

       @include mobile{

        button{
            color:$whitecolor;
            border:1px solid $whitecolor!important;
            width:100%;

            &:hover{
                background:$primarycolor;
                border:1px solid $primarycolor;
            }

            .icomoon{
                padding-right:10px;
            }
        }
       }

       @include tablet{
           
        button{
            color:$whitecolor;
            border:1px solid $whitecolor!important;
            width:100%;

            &:hover{
                background:$primarycolor;
                border:1px solid $primarycolor;
            }

            .icomoon{
                padding-right:10px;
            }
        }
       }

        #navbar{
            background:none;
            color:$whitecolor;

            //mega menu styles 
            .menu-large{
                position: static !important;
                .megamenu {
                    padding: 20px;
                    width: 98%;
                    max-width: 100%;                   
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                    margin-top: -1px;

                    h5{
                        text-transform: uppercase;
                        letter-spacing: 0.1em;
                        padding-bottom: 5px;
                        border-bottom: 1px dotted #ccc;
                        margin-top: .7rem;
                        margin-bottom: .5rem;
                    }
                    .list-unstyled{
                        padding-left: 0;
                        list-style: none;
                    }
                }
            }
            //mega menu styles ends 

            .navbar-nav{
                .nav-item{  

                    @include mobile{
                        .dropdown-toggle{
                            padding-top:0!important; 
                        }
                    }
                    @include tablet{
                        .dropdown-toggle{
                            padding-top:0!important; 
                        }
                    }
                    .nav-link{
                        font-size:$fsize;
                        border-bottom: 1px solid #eee;
                        color:$darkcolor;

                       

                        &:hover{
                           
                            color:$secondarycolor;
                        }
                        &:focus{
                            background:$secondarycolor;
                            color:$whitecolor;
                        }
                    }                 
                    .dropdown-toggle{
                        margin: 0;
                        padding: 16px 15px;
                        text-transform: uppercase;
                        text-decoration: none;                        
                        color:$whitecolor;
                        font-size:$fsize;

                        @include laptop{
                            font-size:$fsize - 1;
                        }

                        &:hover{
                            background:$primarycolor;
                        }
                        &:focus{
                            background:$primarycolor;
                        }                        
                    }
                }
            }
        }
    }
    //bottom nav bar ends   
}
//header ends 

.fixed-theme{
    .topheader{
        margin-top:-55px;

        @include laptop{
            margin-top:-46px;
        }
    }
    .bottomnavbar{
        box-shadow: 0 3px 3px #9d9d9d;
    }    
}

//homecarousel
.homecarousel{    
    margin-top:-1px;
    
    .carousel-indicators{
        display: none;
    }

    .carousel-item{       
        width:100%;
        background-size:cover;

        .carousel-caption{
            text-align: left;
            position: inherit;

            @include mobile{
                left:0;
                padding:40px 20px!important;
            }
            @include tablet{
                left:0;
                padding:40px 20px!important;
            }

            .h1{
                @include title;

                @include mobile{
                    font-size:$fsize + 20;
                    line-height: 34px;
                }
                @include tablet{
                    font-size:$fsize + 20;
                    line-height: 34px;
                }
                @include laptop{
                    font-size:$fsize + 28;
                    line-height: 50px;
                    margin-bottom:0;
                }
                
            }
            p{
                @include subtitle;
                @include flight;
                line-height: 35px;

                @include mobile{
                    font-size:$fsize + 4;
                }
                @include tablet{
                    font-size:$fsize + 4;
                }
                @include laptop{
                    font-size:$fsize + 2;
                }
            }
            h5{
                background:$secondarycolor;
                padding:15px;
                color:$whitecolor;
                display:inline-block;
                font-weight: normal;
                @include flight;
            }
        }
    }
    .carousel-control-next, .carousel-control-prev{
        opacity:1;
    }
    .carousel-control-prev{
        width:40px;
        height:40px;
        top:45%;
        left:5%;
        background:$primarycolor;

        @include mobile{
            top:0;
            left:1%;
        }
        
        &:hover{
            background:$secondarycolor;
        }
    }
    .carousel-control-next{
        width:40px;
        height:40px;
        top:45%;
        right:5%;
        background:$primarycolor;

        @include mobile{
            top:0;
            right:1%;
        }

        &:hover{
            background:$secondarycolor;
        }
    }
}
//home carousel ends 

//home carousel bottom
.carbottom{
    margin-top:-25px;
    position: relative;
    margin-bottom:20px;

    @include tablet{
        margin-top:15px;
    }

    .container{
        background:$whitecolor;
        @include boxshadow;
        min-height: 250px;
        padding-top:15px;
        padding-bottom:5px;

        .figsliderbot{
            position: relative;
            img{
                height:398px;
                @include objectfit;
                object-position:center;
            }
            article{
                color:$whitecolor;
                height:146px;
                @include positionabsolute;
                padding-top:30px;

                h2{
                    @include title;
                    color:$whitecolor;
                    padding-top:10px;
                }
            }

            .chock{
                background:$transchocklate;
            }
            .bou{
                background:$transboutique;
            }
        }
    }
    @include mobile{
        .servicecar{
            padding-right:15px!important;
            padding-left:15px!important;
        }
    }
    .homeservicescar{
        height:398px;

        @include tablet{
            padding-top:12px;
            width:96%;
            margin:0 auto;
        }

        .carousel-control-next{
            opacity:1;
            font-size:$fsize + 10;

            &:hover{
                color:$secondarycolor;
            }
        }
        .carousel-control-prev{
            opacity:1;
            font-size:$fsize + 10;

            &:hover{
                color:$secondarycolor;
            }
        }

        .carousel-item{
            height:398px;

            .carousel-caption{
                top:20px;
                bottom:inherit;
                left:5%;
                text-align: left;
                width:60%;
                background:rgba(255,255,255,0.7);
                padding:25px;

                @include mobile{
                    width:90%;
                }

                h3{
                    font-size:$fsize + 15;
                    color:$primarycolor;
                    @include flight;
                    line-height: 35px;

                    span{
                        @include fbold;
                    }
                }
            }
        }

        img{
            height:398px;
            @include objectfit;
        }
    }
    .carousel-indicators{
        li{
            background:$primarycolor;
        }
        .active{
            background:$secondarycolor;
        }
    }
}
//home carousel bottom ends

//single product banner 
.singleproductbanner{
    background-size:cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    min-height: 520px;
    padding-top:140px;
    color:$whitecolor;

    p{
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    h3{
        @include title;
        font-size:150px;
        padding:50px 0 30px 0;

        @include mobile{
            font-size:90px;
        }
    }
    a{
        @include greenbtn;
    }
}
@include mobile{
    .sliderrt{
        padding-left:15px!important;
        margin-top:5px;
    }
}
//single product banner
//home services 
.homeservices{
    .linkcol{
        text-align: center;
        padding:85px 20px 0 20px;
        min-height:250px;
        height:100%;
        position: relative;

        &:hover{
            article{
                h5{
                    margin-top:-2px;
                }
            }
        }
        

        article{
            color:$whitecolor;
            position: relative;
            h5{
                @include subtitle;
                @include transition;

                a{
                    color:$whitecolor;
                }               
            }
            p{
                font-size:$fsize - 1; 
                padding-top:10px;               
                
            }
        }
    }
    .med{
        background:$medical;
    }
    .property{
        background:$property;
    }
    .visa{
        background:$visa;
    }
    .radio{
        background:$onlineradio;
    }
    .tutor{
        background:$onlinetutor;
    }
    .insurance{
        background:$visitorinsurance;
    }
    .linkcolthumb{
        position: absolute;
        right:0;
        top:0;
        opacity: 0.6;
        z-index: 0;
    }
    .thumbimg{
        @include objectfit;
        height: 100%;
        width:100%;
    }
}
//home services ends 

//home terms 
.hometerms{
    background:$whitecolor;

    .termscol{
        @include mobile{
            padding-bottom:20px;
        }
        img{
            margin-bottom:15px;

            @include mobile{
                margin-bottom:0;
            }
        }
        h5{
            text-transform: uppercase;
        }
        p{
            font-size:$fsize - 2;
            padding:10px 25px 0 25px;
        }
    }
}
//home terms ends

.cityarticle{
    p{
        font-size: $fsize - 1;
    }
}

//footer styles 
footer{
    background:$whitecolor;

    .newsletterfooter{
        background:$secondarycolor;
        padding:30px 0;
        color:$whitecolor;

        h5{
            @include subtitle;
            color:$whitecolor;            
        }
        p{
            font-size:$fsize - 1;
        }
        .newsform{
            width:100%;
            height:45px;
            border:1px solid $whitecolor;
            margin-top:10px;

            @include mobile{
                height:auto;
            }
           
            input[type="text"]{
                border:none;
                background:none;
                width:100%;
                padding-left:15px;
                height:45px;
                color:$whitecolor;

                @include mobile{
                    text-align:center;
                }               

                &:focus{
                    box-shadow: none;
                    outline:none;
                    border:none;
                }

                &::placeholder{
                    color:$whitecolor;
                    opacity: 0.4;
                    
                }
            }
            input[type="submit"]{
                background:$whitecolor;
                border:none;
                height:87%;
                width:96%;
                cursor: pointer;
                margin:2px;

                @include mobile{                   
                    height:40px;
                }
                @include tablet{
                    width:100%;
                    height:40px;
                    margin:0;
                }
               

                &:focus{
                    outline:none;
                }

                &:hover{
                    background:$primarycolor;
                    color:$whitecolor;
                }
            }
        }
    }
    //footer social 
    .footersocial{
        padding-left:180px;

        @include mobile{
            padding:15px 0;
        }
        @include tablet{
            padding:15px 0;
        }

        .nav{
            @include mobile{
                text-align:center;
                display:inherit;
            }
            margin-top:15px;

            li{
                margin-right:10px;
                @include mobile{
                    display:inline;
                    float:none;
                }
                a{
                    width:40px;
                    height:40px;
                    border-radius:50%;
                    border:1px solid $whitecolor;
                    line-height: 40px;
                    text-align: center;

                    .icomoon{
                        color:$whitecolor;
                    }
                    

                    &:hover{
                        background:$primarycolor;
                        border:1px solid $primarycolor;
                    }

                    img{
                        height:18px;
                    }
                }
            }
        }
    }
    .navfooter{
        .footercol{
            @include mobile{
                margin-bottom:15px;
            }
            h5{
                text-transform: uppercase;
                font-size:$fsize + 4;
                padding:10px 0;
    
                &:before{
                    content:'';
                    width:30px;
                    height:2px;
                    background:$secondarycolor;
                    position:absolute;
                    top:0;
                }
            }
            p{
                font-size: $fsize;
                padding-right:5%;
                line-height: $fsize * 2;
            }
            ul{
                list-style: none;
                li{                   

                    a{
                        font-size: $fsize;
                        color:lighten($darkcolor, 25);
                        padding:5px 0;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .copyrights{
        background:$primarycolor;
        padding:15px 0;
        color:$whitecolor;
        font-size:$fsize - 1;
        position:relative;

        p{
            line-height: 40px;
        }
        #movetop{
            width:45px;
            height:45px;
            background:$secondarycolor;
            color:$whitecolor;
            bottom:0;
            right:4px;
            border-radius:50%;
            text-align: center;
            line-height: 50px;           
            position:fixed;           
            border:1px solid transparent;
            z-index: 999;
            
    
            .svg{
                width:20px;
            }
            .icomoon{
                font-size:18px;
            }
    
            &:hover{
               background:$primarycolor;  
            }            
        }
    }
}
//footer styles ends 

.fgreen{
    color:$primarycolor;
}
.fblue{
    color:$bluecolor;
}
.forange{
    color:$secondarycolor;
}
.flight{
   @include flight;
}

//sub pages
//signup & register 
.sign{
    background:$whitecolor;
    width:437px;   
    @include boxshadow; 
    padding:20px 40px 50px 40px;    
    margin:2% auto;

    @include mobile{
        width:97%;
        padding:20px;
    }

    .form-group{
        position:relative;
        label{
            color: #555;
            background: #fff;
            position: absolute;
            top: -10px;
            left: 6px;
            padding: 0 10px;           
        }
    }
    
    
    .brandlogo{
        margin:0 auto;       
        img{
            width:300px;           
        }
    }
    h5{
        font-size:$fsize + 4;
       font-weight: 400;
    }
    p{
        color:#a8a8a8;
        font-size:$fsize - 1;
    }
    .form-control{
        box-shadow: none;
        border:1px solid #e7e7e7;
        height:50px;

        &::placeholder{
            font-size:$fsize - 1;
            color:#a8a8a8;
            opacity:0.6;
        }
        &:focus{
            box-shadow: none;
        }
    }
    a{
        color:#a8a8a8;

        &:hover{
            color:$primarycolor;
        }
    }
    .btn{
        @include greenbtn;
        border:1px solid $primarycolor;

        &:hover{
            background:$whitecolor;
            color:$primarycolor;
        }
    }
    
    .or{ 
        position:relative;       
        margin:10px auto;

        span{
            background:$whitecolor;
            padding:0 10px;
            position: relative;
            
        }

        &:before{
            content:'';
            width:100%;
            height:1px;
            background:#909090;
            position: absolute;
            top:10px;
            left:0;

        }
    }
    .loginsocial{
        list-style: none;
        margin-top:20px;
        text-align: center;
        li{
            list-style: none;
            display: inline;
            a{
                height:45px;                
                border:1px solid #ccc;
                display: inline-block;
                text-align: center;
                line-height: 33px;
                padding:5px 25px; 
                color:#575757;
                min-width:47%;

                img{
                    float:left;
                    margin-right:10px;
                    margin-top:5px;
                }
            }
        }
        
    }
    .msg{
        font-size:$fsize - 1;
        color:$darkcolor;
    }
}
//sign and register ends 
//list of products page 
.subpage{
    //page header 
   .subpageheader{
       background:$whitecolor;
       min-height:120px;
       box-shadow: 0 3px 3px #ccc;
       position: relative;

       @include mobile{
           min-height: 100px;
           padding-bottom:10px;
       }

       .pattern01{
          left:0;
          top:0; 

          @include mobile{
              display:none;
          }
          @include tablet{
            display:none;
         }

          img{
              width:200px;
          }
       }
       .pattern02{
           right:0;
           top:0;

           @include mobile{
            display:none;            
            }
            @include tablet{
                display:none;            
            }

           img{
            width:200px;
        }
       }

       .pagetitle{
        position:relative;
        padding:6px 0 0 0;
    
        &:before{
            content:'';
            width:100%;
            height:1px;
            background:$primarycolor;
            position:absolute;
            top:50%;
            left:0;
            right:0;
            z-index: 0;        
        }    
    
        h1{
            @include title;
            color:$primarycolor;
            font-size:$fsize + 35;
            background:$whitecolor;
            position: relative;
            z-index: 999;
            display: inline-block;
            @include px20; 
            line-height: inherit;  
            
            @include mobile{
                font-size:$fsize + 25;
            }
        }
      } 

      //brudcrumb
      .brcrumb{
          text-align: center;

          li{
              display: inline;
              
              &:last-child{
                a{
                    color:$secondarycolor;
                    &:after{
                        content:'';
                        padding:0;
                    }
                }
            }
              a{
                  color:$darkcolor;
                  font-size:$fsize - 1;

                  &:after{
                      content:'/';
                      padding:0 10px;
                  }

                 
              }
          }
      }
   } 
   //sub page header ends

    //subpage main 
   .subpagemain{
       padding:25px 0;
       min-height:800px;
       p{
           font-size:$fsize;
       }
       .filterrow{
           background:$whitecolor;
           min-height: 40px;
           margin-bottom:15px;
           margin-right:0;
           margin-left:0;

           h5{
               line-height: 40px;
               font-weight: 400;
           }

           .sortcol{              
               padding-top:5px;

               .btn{
                   background:none;                  

                   &:focus{                      
                       box-shadow: none;                      
                   }
               }
               .dropdown-menu{
                    font-size:$fsize - 1;

                    .dropdown-item{
                        &:hover{
                            background:$primarycolor;
                            color:$whitecolor;
                        }
                    }
               }
           }
       }

       //input styles
        .formpage{
            .form-control{
                background:$whitecolor;
                border:1px solid #e0e0e0;               
                font-size:$fsize; 
                min-height: 42px;              

                &::placeholder{
                    color:#ccc;
                }

                &:focus{
                    box-shadow: none;
                }
            }
            textarea{
                min-height: 120px!important;
            }
        }
   }
   //sub page main endsd 

   .productitem{
       margin-bottom:15px;
   }
   .productbasic-info{
      h2{
       font-size:$fsize + 12;
      }

       .priceproduct{
           .mainprice{
               font-size:$fsize + 8;
               color:$secondarycolor;
           }
           .oldprice{
               font-size:$fsize + 4;
               color:#a9a9a9;
               text-decoration: line-through;
               font-weight: normal;
               padding:0 20px;

               @include mobile{
                   padding: 0 10px;
               }
           }
           .percentage{
               background:$primarycolor;
               color:$whitecolor;
               padding:4px 13px;
               font-size:$fsize + 1;
               font-weight: normal;
           }
       }
      
       .detailtable{
           margin-top:10px;
           td{
               padding:6px 6px 6px 0;
               font-size:$fsize;
           }
       }
   }
   .productrate{
        li {
            list-style: none;
            margin-right:2px;
            img{
                width:20px;
            }
        }
    }
   .fgreen{
       color:$primarycolor;
   }
   .forange{
       color:$secondarycolor;
   }
   .fgray{
       color:#a6a6a6;
       font-size:$fsize;
   }
   .buttonsgroup{
       button{          
          @include whitebtn;

          @include mobile{
              padding:7px;
              margin-bottom:5px;
              font-size: $fsize - 2;
          }

           &:hover{
               @include whitebtnhover;
           }

           img{
               width:20px;
               margin-right:10px;
               float: left;
               margin-top:2px;
           }
           .icomoon{
               font-size:18px;
               padding-right:5px;
               margin-top:2px;
               float:left;

               @include mobile{
                   display:none;
               }
           }
       }
       .greenbtn{
            @include greenbtn;           
            height:46px;
            border:none;           

           &:hover{
            @include greenbtnhover;
           }
       }
   }
   .producttab{
       padding:25px 0;
       .resp-tabs-list{
           background:$whitecolor;
           padding:10px;

           li {
               background:none!important;
           }
           .resp-tab-active{
               background:$primarycolor!important;
           }
       }
       .resp-tabs-container{
           background:$whitecolor;
           padding:15px;
           margin-top:4px;

           @include mobile{
               padding:0;
           }
       }
   }
   h3{
       font-size:$fsize + 6;
       font-weight: normal;  
       border-bottom:1px dashed #ccc;
       padding-bottom:15px;   
       
       a{
           font-size:$fsize;
           color:$secondarycolor;
       }
   }
   p{
       padding-bottom:15px;
   }
   .spectable{
       font-size:$fsize;
       td{
           padding:10px;

       }
   }
   li{
       list-style: none;
   }
   .raterow{
       padding:15px 0;
       border-bottom:1px dashed #ccc;
       span{
           padding:0 10px;
       }
   }
   .relatedproducts{
       background:$whitecolor;
       padding:15px;

       .hometitle{
           &:before{
               z-index: 0;
           }
       }
       h3{
           font-size:$fsize + 35;
           border:none;
           background:$whitecolor;
           padding-bottom:0;

           @include mobile{
               font-size: $fsize + 12;
           }

           
       }
       .productitem{
           box-shadow: 0 0 2px #ccc;
       }
   }
   .pagelist{
       li{
           font-size:$fsize;
           padding-bottom:15px;          
           position: relative;
           text-align:justify;
           line-height: $fsize + 10;

           &:before{
            content: "\e928";
            font-family: 'icomoon' !important;
            font-size:16px;
            color:$secondarycolor;
            padding-right:10px;
           }
       }
   }

}
//list of products page ends 
.whiterow{
    background:$whitecolor;
    min-height: 25px;
    padding:18px 0;

    h4{
        font-size:$fsize + 4;
    }
    h5{
        font-size:$fsize + 4;
        color:$secondarycolor; 
    }
}
.smallcol{
    background:$whitecolor;
    min-height:184px;
    box-shadow: 0 0 2px #b8b8b8;
    width:100%;
    padding:7px;  

    @include tablet{
        min-height: inherit;
    }

    .fgreen{
        font-size:$fsize - 2!important;
        padding-bottom:0;
    }

    figure{
        img{
            height:100%;
            border:1px solid #ccc;
            @include objectfit;
            margin-top:7px;
        }
    }
    article{

        @include mobile{
            padding:15px;
        }
        h5{
            font-size:$fsize + 2;
            padding-bottom:6px;           

            a{
                color:$darkcolor;

                &:hover{
                    color:$primarycolor;
                }
            }
        }

        p{
            font-size:$fsize - 2!important;
            border-bottom:1px solid #ccc;
            margin-bottom:10px;
            line-height: $fsize + 4;
        }
        
    }
    .price{
        font-size:$fsize;
        color:$secondarycolor;
        @include fbold;
    }
    select{
        width:50px;
        font-size:$fsize - 2;
        margin-top:2px;
    }
    .addstosmallcol{
        padding-top:6px;

        @include mobile{
            padding:15px;
        }

        li{

            &:last-child{
                a{
                    &:after{
                        content:'';
                        padding:0;
                    }
                }
            }
            a{
                font-size:$fsize - 1;
                color:$darkcolor;

                &:after{
                    content:'|';
                    padding:0 14px;
                }

                img{
                    width:13px;
                    margin-right:3px;
                }
                .icomoon{
                    font-size:18px;
                    float:left;
                    margin-right:5px;                   

                    @include mobile{
                        display:none;
                    }
                }
            }
        }
    } 

}
.rtcart{
    background:$whitecolor;
    box-shadow: 0 0 2px #888;
    padding:12px;
    height:auto;
    width:100%;   

    p{
        font-size:$fsize - 1;
    }
    ul{
        li{
            padding:5px 0;
            border-bottom:1px solid #dcdcdc;       


        }
    }
}

.fbold{
    @include fbold;
}


    h4{
        font-size:$fsize + 10;
        text-transform: uppercase;
        color:$secondarycolor;
    }
    p{
        font-size:$fsize;
        line-height:$fsize + 10;
    }
    .sectitle{
        font-size:$fsize + 8;
        @include flight;

        a{
            font-size:$fsize;
        }
    }


.accordion{
   
      h3 {
        font-weight: 500;
        border-bottom:none;

        .active{
            border-bottom:none!important;
        }
      }
      .intro {
        font-size: 1.25em;
      }
      .js .panel-title {
        margin: 0;
      }
      .panel-title a {    
        border-bottom:1px dashed #ccc;   
        color: #292929;
        display: block;
        padding: 1.25em 0;
        position: relative;
        text-decoration: none;
        -webkit-transition: color 200ms ease 0s;
        -moz-transition: color 200ms ease 0s;
        transition: color 200ms ease 0s;
        width: 100%;
      }
      .panel-title a .icon {
        color: #9e9e9e;
        position: absolute;
        right: 0;
        -webkit-transition: all 200ms ease 0s;
        -moz-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
      }
      .panel-title a:hover,
      .panel-title a:focus {
        color: #37474f;
      }
      .panel-title a:hover .icon,
      .panel-title a:focus .icon {
        color:$secondarycolor;
      }
      .panel-title a.active {
        color:$secondarycolor;
      }
      .panel-title a.active .icon {
        color:$secondarycolor;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      .js .accordion {
        border-bottom: 1px dashed #ececec;
        margin: 2em 0;
      }
      .accordion .panel-title a {
        border-top: 1px dashed #ececec;
      }
      [id^="panel-"] {
        padding-bottom: 2em;
        border-bottom:1px dashed #ccc;
      }
      p{
          text-align: justify;
      }
}

.whitebox{
    background:$whitecolor;
    box-shadow: 0 0 2px #9f9f9f;
    min-height: 100px;
    overflow: hidden;
   
 }
 .blogcol{
     position:relative;
     margin-bottom:25px;
     article{
         background:rgba(0,0,0,0.8);
         height:86px;
         padding:20px 15px 0 15px;
         margin-top:-92px;
         position: relative;

         @include mobile{
             height: auto;
             margin-top:-7px;
             background:rgba(0,0,0,1);
         }
         @include tablet{
            height: auto;
            margin-top:-7px;
            background:rgba(0,0,0,1);
        }
        @include laptop{
            height: auto;
            margin-top:-7px;
            background:rgba(0,0,0,1);
        }

         .linkblog{
             background:$secondarycolor;
             color:$whitecolor;
             text-transform: uppercase;
             position: absolute;
             top:-20px;
             left:50%;
             margin-left:-35px;
             padding:6px 15px;

             &:hover{
                 background:$primarycolor;
                 color:$whitecolor;
             }
         }

         a{
             font-size:$fsize;
             color:$whitecolor;

             &:hover{
                 color:$secondarycolor;
             }
         }
         p{
             font-size:$fsize -2;
             color:#bababa;
             padding-top:6px;

             span{
                &:first-child{
                    &:after{
                        content:'|';
                        padding:0 20px;
                        color:#bababa;
                    }
                }
             }
         }
     }
 }
 .blogdetail{
     h3{
         font-size:$fsize + 6;
         border-bottom:none;
         padding-bottom:6px;
     }
     .det{
        font-size:$fsize -2;
        color:#333;      

        span{
           &:first-child{
               &:after{
                   content:'|';
                   padding:0 20px;
                   color:#bababa;
               }
           }
        }
    }
 }
 .recentnews{
     h3{
         border-bottom:0;
     }
     .recentcol{
         margin-bottom:20px;
         figure{
             position: relative;

             span{
                 background:$secondarycolor;
                 color:$whitecolor;
                 font-size:$fsize;
                 top:0;
                 left:0;
                 padding:6px;
             }


         }
         article{
             box-shadow: 0 2px 2px #999;
             padding:10px;
             margin-top:-9px;
             a{
                 font-size:$fsize;
                 color:#555555;

                 &:hover{
                     color:$primarycolor;
                 }
             }
         }
    } 
}
.iconcontact{
    background:$primarycolor;
    width:50px;
    height:50px;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    .svg{
        width:35px!important;
    }
    .icomoon{
        font-size:35px;
        color:$whitecolor;
    }
}
.table-contact{
    td{
        padding:5px;
        vertical-align: top!important;

        h6{
            font-weight: normal;
            font-size:$fsize + 2;
            padding-bottom:0;
            margin-bottom:3px;           
        }
    }
}
.addresscol{
    padding:$fsize;
    min-height: 348px;

    @include tablet{
        min-height: inherit;
        margin-bottom:20px;
    }

    @include mobile{
        min-height: auto;
        margin-bottom:15px;
    }

    a{
        color:$darkcolor;
        margin-right:10px;

        .svg{
            width:15px;
            margin-right:5px;
            float: left;
            margin-top:4px;
        }
        .icomoon{
            font-size:16px;
            padding-right:5px;
        }
    }
}
.addbtn{
    background:$darkcolor;
    color:$whitecolor!important;
    padding:10px 15px;
    text-align:center;
    margin-top:50%;
    border:1px solid transparent;

    &:hover{
        color:$darkcolor!important;
        border:1px solid $darkcolor;
        background:$whitecolor;
    }
}
.form-control{
    font-size:$fsize - 1!important;
    min-height:38px;

    &:focus{
        box-shadow: none;
    }
}
.successpayment{
    .svg{
        width:68px;
    }
    .icomoon{
        font-size:$fsize * 4;
        color:$secondarycolor;
    }
}
.parentVerticalTab{
    .resp-tabs-container{
        border:none!important;
        background:none;

        .form-control{
            &::placeholder{
                color:#c2c2c2;
            }
        }
    }
    .resp-tab-active{
        border:none;
        border-left:2px solid $secondarycolor!important;
        margin-bottom:0!important;
    }
    .resp-tabs-list{
        li{
           
            margin-bottom:0!important;

            .svg{
                width:20px;
                float:left;
                margin-top:0;
                margin-right:5px;
            }
            .icomoon{
                font-size:18px;
                margin-right:10px;
                float:left;
            }
        }
    }
}
.small{
    font-size:$fsize - 3;
}
.userleftnav{
    h6{
        background:$secondarycolor;
        color:$whitecolor;
        padding:10px;
        font-weight: normal;
        line-height: 25px;      
    }
    ul{
        padding:20px;

        li{
            padding-bottom:15px;

            a{
               color:#7d7d7d;
               font-size:$fsize;

               .svg{
                   width:16px;
                   float:left;
                   margin-right:10px;
                   margin-top:2px;
               }
               .icomoon{
                   font-size:16px;
                   padding-right:10px;
               }

               &:hover{
                   color:$primarycolor;
               }
            }
        }
    }
}

//right profile 
.rightprofile{
    min-height: 350px;
    .profilepic{
        border:1px solid #ccc;
    }   
    .form-control{
        &::placeholder{
            color:#ccc;
        }
        &:focus{
            box-shadow: none;
        }
    }
    .svg{
        width:18px;
        float:left;
        margin-right:8px;
        margin-top:3px;
    }
   
}
.form-control{
    &:focus{
        box-shadow: none!important;
    }
}
//right profile done

.mustpw{
    background:url(../img/userpwleftimg.png)no-repeat center left;
    padding-left:120px;

    @include mobile {
        padding-left:0!important;
        background:none;
    }
    @include tablet {
        padding-left:0!important;
        background:none;
    }

    h5{
        padding-left:45px;
        padding-bottom:20px;
    }

    ul{
        padding-left:45px;

        @include mobile {
            padding-left:0;          
        }
        @include tablet {
            padding-left:40px;          
        }

        li{
            padding-bottom:20px;
            font-size:$fsize;

            &::before{
                content: "\e928";
                font-family: 'icomoon' !important;
                font-size:16px;
                color:$secondarycolor;
                padding-right:10px;
            }

            .svg{
                font-size:13px;
            }
        }
    }
}

#html_btn {
    display:none;
}
.new_Btn{
    color:$darkcolor;
}
.myorderhistory{
    .taborderhistory{
        .resp-tabs-list{
            text-align: left;
            margin-top:20px;
            padding-bottom:10px;
            border-bottom:1px solid #ccc;
            margin-bottom:20px;

            @include mobile{
                display:block!important;
            }
            @include tablet{
                margin-top:0;
                margin-bottom:0;
            }

            li{
                background:none!important;
                padding: 10px!important;
                margin:0!important;

                a{
                    color:$darkcolor;

                    &:hover{
                        color:$secondarycolor;
                    }
                }
            }
            .resp-tab-active{
                color:$secondarycolor;
                padding: 10px;
                margin:0!important;

                a{
                    color:$secondarycolor;
                }
            }
        }
    }
    .coltitle{
        font-size:$fsize + 6;
        color:$secondarycolor;
        text-transform: capitalize;
        font-weight: normal;
        @include py20;
    }
    .userproduct{
        border-bottom:1px solid #ccc;
        .imgproduct{
            img{
                border:1px solid #ccc;
               
            }
        }
       

    }
}
.primarydetails{
    padding:15px 0 10px 0;
    
    h6{
        color:$darkcolor;
        font-size:$fsize;
        padding-bottom:10px;
    }
    p{
        color:#7d7d7d;
    }   
}
.whitebtn{
    @include whitebtn;

    @include mobile{
        padding:7px;
        font-size:$fsize - 2;
    }
    @include tablet{
        padding:7px;
        font-size:$fsize - 2;
    }

    &:hover{
       @include whitebtnhover;
    }
}
.bankclink{
    font-size:$fsize;

    .icomoon{
        font-size: 20px;
        float: left;
        margin-right: 10px;
        margin-top: -3px;
    }

    .svg{
        width:16px;
        float: left;
        margin-top:0;
    }
}
.grayblock{
    background:#f9f9f9;
    padding:20px;
}
.wrreview{
    border-left:1px solid #ccc;
    padding:25px;
    text-align:center;
    min-height: 150px;

    .svg{
        width:18px;      
    }
    .productrate{
        li{
            float:none;
            display: inline;

            img{
                width:14px;
            }
        }
    }
}
//order status 
.ord-status{
    padding: 40px 25px 35px 25px;
    border-top:1px dashed #ccc;
    border-bottom:1px dashed #ccc;

    @include mobile{
        padding: 40px 20px 35px 0px;
    }

    .barcol{
        width: 32.5%;
        position: relative;

        i{                        
            font-size: 9px;
            color: #579624;                       
        }  

        a{
            line-height: 8px;
            position: absolute;
            top: 0;
            left: 0;
        }
       
        a.delivered {
            right: 0;
            left: inherit;
        }

        .sttext {
            font-size: 14px;
            position: absolute;
            top: -25px;
            left: -8%;
        }
        .deliveredst {
            right: -10%;
            left: inherit;

            @include mobile{
                right:-40%;
            }
        }
       
        .barstrip{
            position:relative;
            background: #83c44e;
            width: 100%;
            height: 9px;
        }

        &:first-child{
            .barstrip{
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }

        &:last-child{
            .barstrip{
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }
    .circle{
        width:10px;
        height:10px;
        background:$primarycolor;
        display: block;
        border-radius:50%;
    }
}
//order status ends
.articlereview{
    p{
        padding-bottom:10px;
        text-align: justify;
    }
}
.oldprice{
    font-size:$fsize;
    color:#a9a9a9;
    text-decoration: line-through;
    font-weight: normal;
    padding:0 20px 0 ;

    @include mobile{
        padding-left:20px;
    }
}
.w-90{
    width:90%;
}
.w-15{
    width:15%;
}
.occasion{
    p{
        font-size:$fsize - 1!important;
    }
    .greenlink{
        color:$whitecolor!important;

        &:hover{
            @include greenbtnhover;
        }
    }
}
.processcol{

    padding:15px 0;   
    h5{
        span{
            background:$primarycolor;
            color:$whitecolor;
            width:25px;
            height:25px;
            border-radius:50%;
            display: inline-block;
            line-height: 24px;
            margin-right:10px;
        }
    }
    figure{
        width:95px;
        height:95px;
        background:$whitecolor;
        box-shadow: 0 2px 2px #ccc;
        margin:15px auto;
        border-radius:50%;
        text-align: center;
        padding-top:20px;

        img{
            width:45px;            
        }
        .icomoon{
            font-size:45px;
        }
    }
    p{
        padding-top:15px;
        margin-top:15px;
        border-top:1px solid #ccc;

        @include mobile{
            border:none;
        }
        @include tablet{
            border:none;
        }
    }
}
.processarrow{
    position: relative;
    &:after{
        content: '';
        background: url(../img/processarrow.png) no-repeat left center;
        width: 172px;
        height: 51px;
        position: absolute;
        top: 70px;
        left: -100px;

        @include mobile{
            display:none;
        }
        @include tablet{
            display:none;
        }
    }
}
.listcontent{
    li{
        padding-bottom:15px;
        font-size:$fsize;
        position:relative;        
        line-height: $fsize + 10;

        &:before{
            content: "\e928";
            font-family: 'icomoon' !important;
            font-size:16px;
            color:$secondarycolor;
            padding-right:10px;
        }
    }    
}
.serviceform{
    .form-group{
         .form-control{
             &::placeholder{
                 color:#c1c1c1!important;
             }
         }
         textarea{
             height:100px;
         }
    }
 }
 .svgimg{
     img{
         width:50px;
     }
     .icomoon{
         font-size:60px;

         &:hover{
             color:$secondarycolor;
         }
     }
 }

 .sitemaplinks{
     li{

        &:last-child{
            a{
                &:after{
                    content:'';
                }
            }
        }
         a{
             color:$darkcolor;
             font-size:$fsize;

             &:after{
                 content:"|";
                 padding:0 10px;
                 color:$darkcolor;
             }
             &:hover{
                 color:$primarycolor;
             }
         }
     }
 }
 .outofstock{
     position: absolute;
     top:0;
     left:0;
     z-index: 99;

     img{
         width:100px;
     }
 }

 .mand{
     color:$cakes;
     padding:0 2px;
     font-size:16px;
 }  
 .careercol{
     margin-bottom:20px;
 }
 .citycol{
     img{
         @include objectfit;
     }
 }                               

//sub pages ends

//responsive mobile styles

@include mobile{
    .dmnone{
        display:none;
    }
   .saleproducts{
        .resp-accordion{
            padding:15px;
        }
   }
   .mpx-15{
       padding-right:15px!important;
       padding-left:15px!important;
   }
   .mpb-0{
       padding-bottom:0!important;
   }
   .mtcenter{
       text-align:center;
   }
   .cityarticle{
       padding:15px;
   }
   .mpt-15{
       padding-top:15px;
   }
   .mp-15{
       padding:15px;
   }
   .mbody{
       header{
           .middle-header{
               @include transition;
               margin-top:-130px;
           }
       }
       main{
           padding-top:125px;
       }
       .bottomnavbar{
           box-shadow: none;
       }
   }
   .mw100{
       width:100%!important;
   }   
}

//responsive tablet styles
@include tablet{
    .dtnone{
        display:none;
    }
    .tpl15{
        padding-left:15px!important;
    }
    .tpb-0{
        padding-bottom:0!important;
    }
    .cityarticle{
        padding:15px;
    }
    .tw100{
        width:100%!important;
    }  
    
    .mbody{
        header{
            .middle-header{
                @include transition;
                margin-top:-200px;
            }
        }
        main{
            padding-top:166px;
        }
        .bottomnavbar{
            box-shadow: none;
        }
    }
}
//responsive styles for laptop
@include laptop{
    .cityarticle{
        padding:15px;
    }
    .dlnone{
        display: none;
    }
}

//new styles 25-05-2019
.amma-col{
    background:$whitecolor;
    height:360px;
    box-shadow: 0 0 2px #ccc;
    margin-bottom:25px;
    
    h4{
        padding:15px 10px;
        color:$primarycolor;
    }
    figure{
        img{
            &:hover{
                filter: grayscale(100%);
            }
        }
    }
    ul{
        padding:10px;
    }
    .whitebtn{
        &:hover{
            background:$primarycolor;
            color:$whitecolor!important;
        }
    }
    .activeamma{
        background:$primarycolor;
        color:$whitecolor!important;
    }   
}

 .foodvalue{
    .foodbtn{
        .greenlink{
            &:hover{
                background:$primarycolor;
                color:$whitecolor!important;
            }
        }   
     }
     p{
         padding-bottom:3px;
     }
 }

 .sel-country{
     background:$whitecolor;
     border:none;
     padding:5px;
    

     option{
         color:$darkcolor;
     }

     &:focus{
         border:none;
         outline:none;
     }
 }

 // review rating
 //rating
.stars {
    background: url("../img/stars.png") repeat-x 0 0;
    width: 150px;   
}  
form .stars input[type="radio"] {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
}
form .stars input[type="radio"].star-5:checked ~ span {
    width: 100%;
}
form .stars input[type="radio"].star-4:checked ~ span {
    width: 80%;
}
form .stars input[type="radio"].star-3:checked ~ span {
    width: 60%;
}
form .stars input[type="radio"].star-2:checked ~ span {
    width: 40%;
}
form .stars input[type="radio"].star-1:checked ~ span {
    width: 20%;
}
form .stars label {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0!important;
    padding: 0!important;
    text-indent: -999em;
    float: left;
    position: relative;
    z-index: 10;
    background: transparent!important;
    cursor: pointer;
}
form .stars label:hover ~ span {
    background-position: 0 -30px;
}
form .stars label.star-5:hover ~ span {
    width: 100% !important;
}
form .stars label.star-4:hover ~ span {
    width: 80% !important;
}
form .stars label.star-3:hover ~ span {
    width: 60% !important;
}
form .stars label.star-2:hover ~ span {
    width: 40% !important;
}
form .stars label.star-1:hover ~ span {
    width: 20% !important;
}
form .stars span {
    display: block;
    width: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    background: url("../img/stars.png") repeat-x 0 -60px;
    -webkit-transition: -webkit-width 0.5s;
    -moz-transition: -moz-width 0.5s;
    -ms-transition: -ms-width 0.5s;
    -o-transition: -o-width 0.5s;
    transition: width 0.5s;
}





