@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
body {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  height: 100%;
  background: #f9f9f9;
}

a:hover {
  text-decoration: none;
}

.hometitle {
  position: relative;
  padding: 25px 0;
}

.hometitle:before {
  content: '';
  width: 100%;
  height: 1px;
  background: #116b38;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
}

.hometitle h3 {
  font-family: 'Great Vibes', cursive;
  font-size: 64px;
  font-weight: normal;
  line-height: 84px;
  color: #116b38;
  font-size: 49px;
  background: #f9f9f9;
  position: relative;
  z-index: 999;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  line-height: inherit;
}

@media (min-width: 320px) and (max-width: 767px) {
  .hometitle h3 {
    font-size: 34px;
  }
}

.titlecat {
  background: #f58022;
  min-height: 48px;
  margin-bottom: 10px;
}

.titlecat h4 {
  padding: 15px 0 0 5px;
  color: #fff;
  font-size: 18px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .titlecat h4 {
    font-size: 15px;
    padding-left: 10px !important;
  }
}

.titlecat a {
  background: #fff;
  color: #116b38;
  line-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  position: relative;
  right: -5px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .titlecat a {
    letter-spacing: 0;
    font-size: 14px;
    padding: 6px 8px;
    line-height: 27px;
  }
}

.titlecat a:hover {
  background: #116b38;
  color: #fff;
}

.productitem {
  position: relative;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  margin: 5px 0;
  height: 430px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .productitem {
    height: 330px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .productitem {
    height: 328px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .productitem {
    height: 380px;
  }
}

.productitem:hover {
  box-shadow: 0 0 6px #626262;
  -moz-box-shadow: 0 0 6px #626262;
  -webkit-box-shadow: 0 0 6px #626262;
  -ms-box-shadow: 0 0 6px #626262;
  -o-box-shadow: 0 0 6px #626262;
}

.productitem .cattag {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  text-transform: uppercase;
  padding: 5px;
  font-size: 12px;
  z-index: 99;
}

.productitem .flowers {
  background: #983372;
}

.productitem .cakes {
  background: #ff0000;
}

.productitem .chocklate {
  background: #973500;
}

.productitem .fashion {
  background: #f4005f;
}

.productitem:hover .hover {
  background: rgba(255, 255, 255, 0.8);
}

.productitem:hover .hover .nav {
  opacity: 1;
  margin-top: 48%;
}

.productitem:hover .hover .nav li a .icomoon {
  font-size: 24px;
  color: #fff;
}

.productitem figure {
  position: relative;
}

.productitem figure img {
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .productitem figure img {
    height: 175px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .productitem figure img {
    height: 190px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .productitem figure img {
    height: 225px;
  }
}

.productitem figure .hover {
  background: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.productitem figure .hover .nav {
  text-align: center;
  margin-top: -10px;
  opacity: 0;
  display: inherit;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.productitem figure .hover .nav li {
  margin: 0 1px;
  display: inline-block;
  float: none;
}

.productitem figure .hover .nav li a {
  background: #000;
  width: 40px;
  height: 40px;
  line-height: 54px;
}

.productitem figure .hover .nav li a:hover {
  background: #116b38;
}

.productitem figure .hover .nav li a img {
  height: 25px;
  width: auto;
}

.productitem article {
  background: #fff;
  height: 155px;
  padding: 25px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -7px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .productitem article {
    height: 138px;
  }
}

.productitem article .proname {
  font-size: 16px;
  color: gray;
}

.productitem article .proname:hover {
  color: #f58022;
}

@media (min-width: 320px) and (max-width: 767px) {
  .productitem article .proname {
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .productitem article .proname {
    font-size: 13px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .productitem article .proname {
    font-size: 14px;
  }
}

.productitem article p {
  font-size: 20px;
  padding: 10px 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .productitem article p {
    font-size: 12px;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .productitem article p {
    font-size: 12px;
    padding: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .productitem article p {
    font-size: 13px;
    padding: 0;
  }
}

.productitem article p span {
  font-size: 15px;
  color: #949494;
  text-decoration: line-through;
  padding-left: 5px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .productitem article p span {
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .productitem article p span {
    font-size: 10px;
  }
}

.productitem article .btnlist {
  color: #000;
  border: 1px solid #f58022;
  line-height: 35px;
  padding: 0 15px;
  margin-top: 10px;
  font-size: 14px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .productitem article .btnlist {
    line-height: 25px;
    padding: 0 7px;
    font-size: 12px;
  }
}

.productitem article .btnlist:hover {
  background: #f58022;
  color: #fff;
}

.parentHorizontalTab .resp-tab-content {
  border: none;
}

.parentHorizontalTab .resp-tabs-container {
  background: none;
}

.parentHorizontalTab .resp-tabs-list {
  text-align: center;
  padding-bottom: 25px;
}

.parentHorizontalTab .resp-tabs-list li {
  text-transform: uppercase;
  display: inline;
  float: none;
}

.parentHorizontalTab .resp-tabs-list .resp-tab-active {
  background: #f58022 !important;
  border: none !important;
  color: #fff;
}

main {
  padding-top: 200px;
  min-height: 500px;
}

@media (min-width: 320px) and (max-width: 767px) {
  main {
    padding-top: 244px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  main {
    padding-top: 320px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  main {
    padding-top: 169px;
  }
}

.greenlink {
  background: #116b38;
  padding: 10px 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid transparent;
  text-align: center !important;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@media (min-width: 320px) and (max-width: 767px) {
  .greenlink {
    padding: 7px;
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .greenlink {
    padding: 7px;
    font-size: 12px;
  }
}

.greenlink:hover {
  border: 1px solid #116b38;
  color: #116b38 !important;
  background: none;
}

header .topheader {
  background: #116b38;
  padding: 5px 0;
  color: #fff;
  font-size: 13px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .topheader .navbar {
    padding-left: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .topheader .navbar {
    padding-left: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  header .topheader .navbar-toggler {
    border-color: #fff;
    position: absolute;
    top: -23px;
    right: 0;
    font-size: 1rem;
  }
  header .topheader .navbar-toggler .icomoon {
    color: #fff;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .topheader .navbar-toggler {
    border-color: #fff;
    position: absolute;
    top: -25px;
    right: 0;
    font-size: 1rem;
  }
  header .topheader .navbar-toggler .icomoon {
    color: #fff;
  }
}

header .topheader .nav-link {
  color: #fff !important;
  padding-top: 0;
  padding-bottom: 0;
}

header .topheader .nav-link:hover {
  color: #f58022 !important;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .topheader .nav-link {
    padding: 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .topheader .nav-link {
    padding: 10px 0;
  }
}

header .topheader .social {
  border-left: 1px solid #fff;
  padding-left: 10px;
  margin-left: 5px;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .topheader .social {
    border: none;
    margin: 20px 0 0 0;
    padding: 0;
  }
}

header .topheader .social a {
  padding-right: 10px;
}

header .topheader .social a img {
  height: 15px;
}

header .topheader .social a .icomoon {
  color: #fff;
}

@media (min-width: 768px) and (max-width: 991px) {
  header .topheader .leftnav {
    margin-top: 10px;
  }
}

header .topheader .leftnav li {
  padding-right: 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .topheader .leftnav li {
    padding-top: 5px;
  }
}

header .topheader .leftnav li .dropdown-menu {
  min-width: 100px;
}

header .topheader .leftnav li .dropdown-menu .dropdown-item {
  font-size: 13px;
}

header .headercontainer {
  width: 95%;
  margin: 0 auto;
}

header .middle-header {
  background: #fff;
}

header .middle-header .navbar-brand img {
  width: 300px;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .middle-header .navbar-brand img {
    width: 250px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  header .middle-header .navbar-brand img {
    width: 200px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  header .middle-header .navbar-brand {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .middle-header .navbar-brand {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

header .middle-header .navbar-nav {
  display: inherit;
  float: right;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .middle-header .navbar-nav {
    display: block;
    text-align: center;
    padding-bottom: 15px;
    float: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .middle-header .navbar-nav {
    display: block;
    text-align: center;
    padding-bottom: 15px;
    float: none;
    padding-top: 15px;
  }
}

header .middle-header .navbar-nav .nav-item {
  float: left;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .middle-header .navbar-nav .nav-item {
    display: inline;
    float: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .middle-header .navbar-nav .nav-item {
    display: inline;
    float: none;
  }
}

header .middle-header .navbar-nav .nav-item .nav-link {
  color: #000;
  line-height: 28px;
  padding-top: 0;
  margin-left: 15px;
  font-size: 14px;
  display: inline-block;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .middle-header .navbar-nav .nav-item .nav-link {
    margin-left: 0;
    margin-right: 10px;
    display: inline-block;
  }
}

header .middle-header .navbar-nav .nav-item .nav-link .svg {
  width: 18px;
  margin-right: 5px;
  margin-top: 4px;
  float: left;
}

header .middle-header .navbar-nav .nav-item .nav-link .vol {
  width: 25px;
  height: 27px;
  background: #f58022;
  display: inline-block;
  text-align: center;
  color: #fff;
}

header .middle-header .navbar-nav .nav-item .nav-link .icomoon {
  font-size: 18px;
  padding-right: 5px;
  padding-top: 5px;
  float: left;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .middle-header .navbar-nav .nav-item .nav-link .icomoon {
    display: none;
  }
}

header .middle-header .headersearch {
  border: 1px solid #cccccc;
  height: 42px;
  min-width: 500px;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .middle-header .headersearch {
    min-width: 100%;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  header .middle-header .headersearch {
    min-width: 100%;
  }
}

header .middle-header .headersearch input[type="text"] {
  border: none;
  width: 85%;
  padding: 0 0 0 10px;
  font-size: 13px;
}

@media (min-width: 768px) and (max-width: 991px) {
  header .middle-header .headersearch input[type="text"] {
    width: 88%;
  }
}

header .middle-header .headersearch input[type="text"]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: none;
}

header .middle-header .headersearch input[type="text"]::-webkit-input-placeholder {
  color: #c1c1c1;
}

header .middle-header .headersearch input[type="text"]:-ms-input-placeholder {
  color: #c1c1c1;
}

header .middle-header .headersearch input[type="text"]::-ms-input-placeholder {
  color: #c1c1c1;
}

header .middle-header .headersearch input[type="text"]::placeholder {
  color: #c1c1c1;
}

header .middle-header .headersearch input[type="submit"] {
  background: #000;
  color: #fff;
  padding: 0 20px;
  border: none;
  cursor: pointer;
}

header .middle-header .headersearch input[type="submit"]:hover {
  background: #116b38;
}

header .middle-header .headersearch input[type="submit"]:focus {
  outline: none;
}

header .middle-header .dropdown-menu {
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
}

header .middle-header .dropdown-menu .dropdown-item {
  padding: 12px;
  font-size: 14px;
}

header .middle-header .dropdown-menu .dropdown-item:hover {
  background: #116b38;
  color: #fff;
}

header .bottomnavbar {
  background: #f58022;
  position: relative;
  z-index: 999;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .bottomnavbar button {
    color: #fff;
    border: 1px solid #fff !important;
    width: 100%;
  }
  header .bottomnavbar button:hover {
    background: #116b38;
    border: 1px solid #116b38;
  }
  header .bottomnavbar button .icomoon {
    padding-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .bottomnavbar button {
    color: #fff;
    border: 1px solid #fff !important;
    width: 100%;
  }
  header .bottomnavbar button:hover {
    background: #116b38;
    border: 1px solid #116b38;
  }
  header .bottomnavbar button .icomoon {
    padding-right: 10px;
  }
}

header .bottomnavbar #navbar {
  background: none;
  color: #fff;
}

header .bottomnavbar #navbar .menu-large {
  position: static !important;
}

header .bottomnavbar #navbar .menu-large .megamenu {
  padding: 20px;
  width: 98%;
  max-width: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: -1px;
}

header .bottomnavbar #navbar .menu-large .megamenu h5 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 5px;
  border-bottom: 1px dotted #ccc;
  margin-top: .7rem;
  margin-bottom: .5rem;
}

header .bottomnavbar #navbar .menu-large .megamenu .list-unstyled {
  padding-left: 0;
  list-style: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .bottomnavbar #navbar .navbar-nav .nav-item .dropdown-toggle {
    padding-top: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .bottomnavbar #navbar .navbar-nav .nav-item .dropdown-toggle {
    padding-top: 0 !important;
  }
}

header .bottomnavbar #navbar .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  border-bottom: 1px solid #eee;
  color: #000;
}

header .bottomnavbar #navbar .navbar-nav .nav-item .nav-link:hover {
  color: #f58022;
}

header .bottomnavbar #navbar .navbar-nav .nav-item .nav-link:focus {
  background: #f58022;
  color: #fff;
}

header .bottomnavbar #navbar .navbar-nav .nav-item .dropdown-toggle {
  margin: 0;
  padding: 16px 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  header .bottomnavbar #navbar .navbar-nav .nav-item .dropdown-toggle {
    font-size: 13px;
  }
}

header .bottomnavbar #navbar .navbar-nav .nav-item .dropdown-toggle:hover {
  background: #116b38;
}

header .bottomnavbar #navbar .navbar-nav .nav-item .dropdown-toggle:focus {
  background: #116b38;
}

.fixed-theme .topheader {
  margin-top: -55px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .fixed-theme .topheader {
    margin-top: -46px;
  }
}

.fixed-theme .bottomnavbar {
  -webkit-box-shadow: 0 3px 3px #9d9d9d;
          box-shadow: 0 3px 3px #9d9d9d;
}

.homecarousel {
  margin-top: -1px;
}

.homecarousel .carousel-indicators {
  display: none;
}

.homecarousel .carousel-item {
  width: 100%;
  background-size: cover;
}

.homecarousel .carousel-item .carousel-caption {
  text-align: left;
  position: inherit;
}

@media (min-width: 320px) and (max-width: 767px) {
  .homecarousel .carousel-item .carousel-caption {
    left: 0;
    padding: 40px 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .homecarousel .carousel-item .carousel-caption {
    left: 0;
    padding: 40px 20px !important;
  }
}

.homecarousel .carousel-item .carousel-caption .h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 64px;
  font-weight: normal;
  line-height: 84px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .homecarousel .carousel-item .carousel-caption .h1 {
    font-size: 34px;
    line-height: 34px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .homecarousel .carousel-item .carousel-caption .h1 {
    font-size: 34px;
    line-height: 34px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .homecarousel .carousel-item .carousel-caption .h1 {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 0;
  }
}

.homecarousel .carousel-item .carousel-caption p {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  line-height: 35px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .homecarousel .carousel-item .carousel-caption p {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .homecarousel .carousel-item .carousel-caption p {
    font-size: 18px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .homecarousel .carousel-item .carousel-caption p {
    font-size: 16px;
  }
}

.homecarousel .carousel-item .carousel-caption h5 {
  background: #f58022;
  padding: 15px;
  color: #fff;
  display: inline-block;
  font-weight: normal;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.homecarousel .carousel-control-next, .homecarousel .carousel-control-prev {
  opacity: 1;
}

.homecarousel .carousel-control-prev {
  width: 40px;
  height: 40px;
  top: 45%;
  left: 5%;
  background: #116b38;
}

@media (min-width: 320px) and (max-width: 767px) {
  .homecarousel .carousel-control-prev {
    top: 0;
    left: 1%;
  }
}

.homecarousel .carousel-control-prev:hover {
  background: #f58022;
}

.homecarousel .carousel-control-next {
  width: 40px;
  height: 40px;
  top: 45%;
  right: 5%;
  background: #116b38;
}

@media (min-width: 320px) and (max-width: 767px) {
  .homecarousel .carousel-control-next {
    top: 0;
    right: 1%;
  }
}

.homecarousel .carousel-control-next:hover {
  background: #f58022;
}

.carbottom {
  margin-top: -25px;
  position: relative;
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .carbottom {
    margin-top: 15px;
  }
}

.carbottom .container {
  background: #fff;
  box-shadow: 0 0 6px #626262;
  -moz-box-shadow: 0 0 6px #626262;
  -webkit-box-shadow: 0 0 6px #626262;
  -ms-box-shadow: 0 0 6px #626262;
  -o-box-shadow: 0 0 6px #626262;
  min-height: 250px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.carbottom .container .figsliderbot {
  position: relative;
}

.carbottom .container .figsliderbot img {
  height: 398px;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.carbottom .container .figsliderbot article {
  color: #fff;
  height: 146px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 30px;
}

.carbottom .container .figsliderbot article h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 64px;
  font-weight: normal;
  line-height: 84px;
  color: #fff;
  padding-top: 10px;
}

.carbottom .container .figsliderbot .chock {
  background: rgba(138, 44, 4, 0.8);
}

.carbottom .container .figsliderbot .bou {
  background: rgba(176, 35, 54, 0.8);
}

@media (min-width: 320px) and (max-width: 767px) {
  .carbottom .servicecar {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

.carbottom .homeservicescar {
  height: 398px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .carbottom .homeservicescar {
    padding-top: 12px;
    width: 96%;
    margin: 0 auto;
  }
}

.carbottom .homeservicescar .carousel-control-next {
  opacity: 1;
  font-size: 24px;
}

.carbottom .homeservicescar .carousel-control-next:hover {
  color: #f58022;
}

.carbottom .homeservicescar .carousel-control-prev {
  opacity: 1;
  font-size: 24px;
}

.carbottom .homeservicescar .carousel-control-prev:hover {
  color: #f58022;
}

.carbottom .homeservicescar .carousel-item {
  height: 398px;
}

.carbottom .homeservicescar .carousel-item .carousel-caption {
  top: 20px;
  bottom: inherit;
  left: 5%;
  text-align: left;
  width: 60%;
  background: rgba(255, 255, 255, 0.7);
  padding: 25px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .carbottom .homeservicescar .carousel-item .carousel-caption {
    width: 90%;
  }
}

.carbottom .homeservicescar .carousel-item .carousel-caption h3 {
  font-size: 29px;
  color: #116b38;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  line-height: 35px;
}

.carbottom .homeservicescar .carousel-item .carousel-caption h3 span {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.carbottom .homeservicescar img {
  height: 398px;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
}

.carbottom .carousel-indicators li {
  background: #116b38;
}

.carbottom .carousel-indicators .active {
  background: #f58022;
}

.singleproductbanner {
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  min-height: 520px;
  padding-top: 140px;
  color: #fff;
}

.singleproductbanner p {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.singleproductbanner h3 {
  font-family: 'Great Vibes', cursive;
  font-size: 64px;
  font-weight: normal;
  line-height: 84px;
  font-size: 150px;
  padding: 50px 0 30px 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .singleproductbanner h3 {
    font-size: 90px;
  }
}

.singleproductbanner a {
  background: #116b38;
  padding: 10px 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid transparent;
  text-align: center !important;
}

@media (min-width: 320px) and (max-width: 767px) {
  .sliderrt {
    padding-left: 15px !important;
    margin-top: 5px;
  }
}

.homeservices .linkcol {
  text-align: center;
  padding: 85px 20px 0 20px;
  min-height: 250px;
  height: 100%;
  position: relative;
}

.homeservices .linkcol:hover article h5 {
  margin-top: -2px;
}

.homeservices .linkcol article {
  color: #fff;
  position: relative;
}

.homeservices .linkcol article h5 {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.homeservices .linkcol article h5 a {
  color: #fff;
}

.homeservices .linkcol article p {
  font-size: 13px;
  padding-top: 10px;
}

.homeservices .med {
  background: #00b29e;
}

.homeservices .property {
  background: #e69200;
}

.homeservices .visa {
  background: #f56954;
}

.homeservices .radio {
  background: #ec3b83;
}

.homeservices .tutor {
  background: #0073b7;
}

.homeservices .insurance {
  background: #ba79cb;
}

.homeservices .linkcolthumb {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.6;
  z-index: 0;
}

.homeservices .thumbimg {
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  height: 100%;
  width: 100%;
}

.hometerms {
  background: #fff;
}

@media (min-width: 320px) and (max-width: 767px) {
  .hometerms .termscol {
    padding-bottom: 20px;
  }
}

.hometerms .termscol img {
  margin-bottom: 15px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .hometerms .termscol img {
    margin-bottom: 0;
  }
}

.hometerms .termscol h5 {
  text-transform: uppercase;
}

.hometerms .termscol p {
  font-size: 12px;
  padding: 10px 25px 0 25px;
}

.cityarticle p {
  font-size: 13px;
}

footer {
  background: #fff;
}

footer .newsletterfooter {
  background: #f58022;
  padding: 30px 0;
  color: #fff;
}

footer .newsletterfooter h5 {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

footer .newsletterfooter p {
  font-size: 13px;
}

footer .newsletterfooter .newsform {
  width: 100%;
  height: 45px;
  border: 1px solid #fff;
  margin-top: 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
  footer .newsletterfooter .newsform {
    height: auto;
  }
}

footer .newsletterfooter .newsform input[type="text"] {
  border: none;
  background: none;
  width: 100%;
  padding-left: 15px;
  height: 45px;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 767px) {
  footer .newsletterfooter .newsform input[type="text"] {
    text-align: center;
  }
}

footer .newsletterfooter .newsform input[type="text"]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: none;
}

footer .newsletterfooter .newsform input[type="text"]::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.4;
}

footer .newsletterfooter .newsform input[type="text"]:-ms-input-placeholder {
  color: #fff;
  opacity: 0.4;
}

footer .newsletterfooter .newsform input[type="text"]::-ms-input-placeholder {
  color: #fff;
  opacity: 0.4;
}

footer .newsletterfooter .newsform input[type="text"]::placeholder {
  color: #fff;
  opacity: 0.4;
}

footer .newsletterfooter .newsform input[type="submit"] {
  background: #fff;
  border: none;
  height: 87%;
  width: 96%;
  cursor: pointer;
  margin: 2px;
}

@media (min-width: 320px) and (max-width: 767px) {
  footer .newsletterfooter .newsform input[type="submit"] {
    height: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  footer .newsletterfooter .newsform input[type="submit"] {
    width: 100%;
    height: 40px;
    margin: 0;
  }
}

footer .newsletterfooter .newsform input[type="submit"]:focus {
  outline: none;
}

footer .newsletterfooter .newsform input[type="submit"]:hover {
  background: #116b38;
  color: #fff;
}

footer .footersocial {
  padding-left: 180px;
}

@media (min-width: 320px) and (max-width: 767px) {
  footer .footersocial {
    padding: 15px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  footer .footersocial {
    padding: 15px 0;
  }
}

footer .footersocial .nav {
  margin-top: 15px;
}

@media (min-width: 320px) and (max-width: 767px) {
  footer .footersocial .nav {
    text-align: center;
    display: inherit;
  }
}

footer .footersocial .nav li {
  margin-right: 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
  footer .footersocial .nav li {
    display: inline;
    float: none;
  }
}

footer .footersocial .nav li a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  line-height: 40px;
  text-align: center;
}

footer .footersocial .nav li a .icomoon {
  color: #fff;
}

footer .footersocial .nav li a:hover {
  background: #116b38;
  border: 1px solid #116b38;
}

footer .footersocial .nav li a img {
  height: 18px;
}

@media (min-width: 320px) and (max-width: 767px) {
  footer .navfooter .footercol {
    margin-bottom: 15px;
  }
}

footer .navfooter .footercol h5 {
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 0;
}

footer .navfooter .footercol h5:before {
  content: '';
  width: 30px;
  height: 2px;
  background: #f58022;
  position: absolute;
  top: 0;
}

footer .navfooter .footercol p {
  font-size: 14px;
  padding-right: 5%;
  line-height: 28px;
}

footer .navfooter .footercol ul {
  list-style: none;
}

footer .navfooter .footercol ul li a {
  font-size: 14px;
  color: #404040;
  padding: 5px 0;
}

footer .navfooter .footercol ul li a:hover {
  text-decoration: underline;
}

footer .copyrights {
  background: #116b38;
  padding: 15px 0;
  color: #fff;
  font-size: 13px;
  position: relative;
}

footer .copyrights p {
  line-height: 40px;
}

footer .copyrights #movetop {
  width: 45px;
  height: 45px;
  background: #f58022;
  color: #fff;
  bottom: 0;
  right: 4px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  position: fixed;
  border: 1px solid transparent;
  z-index: 999;
}

footer .copyrights #movetop .svg {
  width: 20px;
}

footer .copyrights #movetop .icomoon {
  font-size: 18px;
}

footer .copyrights #movetop:hover {
  background: #116b38;
}

.fgreen {
  color: #116b38;
}

.fblue {
  color: #00619e;
}

.forange {
  color: #f58022;
}

.flight {
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.sign {
  background: #fff;
  width: 437px;
  box-shadow: 0 0 6px #626262;
  -moz-box-shadow: 0 0 6px #626262;
  -webkit-box-shadow: 0 0 6px #626262;
  -ms-box-shadow: 0 0 6px #626262;
  -o-box-shadow: 0 0 6px #626262;
  padding: 20px 40px 50px 40px;
  margin: 2% auto;
}

@media (min-width: 320px) and (max-width: 767px) {
  .sign {
    width: 97%;
    padding: 20px;
  }
}

.sign .form-group {
  position: relative;
}

.sign .form-group label {
  color: #555;
  background: #fff;
  position: absolute;
  top: -10px;
  left: 6px;
  padding: 0 10px;
}

.sign .brandlogo {
  margin: 0 auto;
}

.sign .brandlogo img {
  width: 300px;
}

.sign h5 {
  font-size: 18px;
  font-weight: 400;
}

.sign p {
  color: #a8a8a8;
  font-size: 13px;
}

.sign .form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #e7e7e7;
  height: 50px;
}

.sign .form-control::-webkit-input-placeholder {
  font-size: 13px;
  color: #a8a8a8;
  opacity: 0.6;
}

.sign .form-control:-ms-input-placeholder {
  font-size: 13px;
  color: #a8a8a8;
  opacity: 0.6;
}

.sign .form-control::-ms-input-placeholder {
  font-size: 13px;
  color: #a8a8a8;
  opacity: 0.6;
}

.sign .form-control::placeholder {
  font-size: 13px;
  color: #a8a8a8;
  opacity: 0.6;
}

.sign .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sign a {
  color: #a8a8a8;
}

.sign a:hover {
  color: #116b38;
}

.sign .btn {
  background: #116b38;
  padding: 10px 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid transparent;
  text-align: center !important;
  border: 1px solid #116b38;
}

.sign .btn:hover {
  background: #fff;
  color: #116b38;
}

.sign .or {
  position: relative;
  margin: 10px auto;
}

.sign .or span {
  background: #fff;
  padding: 0 10px;
  position: relative;
}

.sign .or:before {
  content: '';
  width: 100%;
  height: 1px;
  background: #909090;
  position: absolute;
  top: 10px;
  left: 0;
}

.sign .loginsocial {
  list-style: none;
  margin-top: 20px;
  text-align: center;
}

.sign .loginsocial li {
  list-style: none;
  display: inline;
}

.sign .loginsocial li a {
  height: 45px;
  border: 1px solid #ccc;
  display: inline-block;
  text-align: center;
  line-height: 33px;
  padding: 5px 25px;
  color: #575757;
  min-width: 47%;
}

.sign .loginsocial li a img {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.sign .msg {
  font-size: 13px;
  color: #000;
}

.subpage .subpageheader {
  background: #fff;
  min-height: 120px;
  -webkit-box-shadow: 0 3px 3px #ccc;
          box-shadow: 0 3px 3px #ccc;
  position: relative;
}

@media (min-width: 320px) and (max-width: 767px) {
  .subpage .subpageheader {
    min-height: 100px;
    padding-bottom: 10px;
  }
}

.subpage .subpageheader .pattern01 {
  left: 0;
  top: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .subpage .subpageheader .pattern01 {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .subpage .subpageheader .pattern01 {
    display: none;
  }
}

.subpage .subpageheader .pattern01 img {
  width: 200px;
}

.subpage .subpageheader .pattern02 {
  right: 0;
  top: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .subpage .subpageheader .pattern02 {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .subpage .subpageheader .pattern02 {
    display: none;
  }
}

.subpage .subpageheader .pattern02 img {
  width: 200px;
}

.subpage .subpageheader .pagetitle {
  position: relative;
  padding: 6px 0 0 0;
}

.subpage .subpageheader .pagetitle:before {
  content: '';
  width: 100%;
  height: 1px;
  background: #116b38;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 0;
}

.subpage .subpageheader .pagetitle h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 64px;
  font-weight: normal;
  line-height: 84px;
  color: #116b38;
  font-size: 49px;
  background: #fff;
  position: relative;
  z-index: 999;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  line-height: inherit;
}

@media (min-width: 320px) and (max-width: 767px) {
  .subpage .subpageheader .pagetitle h1 {
    font-size: 39px;
  }
}

.subpage .subpageheader .brcrumb {
  text-align: center;
}

.subpage .subpageheader .brcrumb li {
  display: inline;
}

.subpage .subpageheader .brcrumb li:last-child a {
  color: #f58022;
}

.subpage .subpageheader .brcrumb li:last-child a:after {
  content: '';
  padding: 0;
}

.subpage .subpageheader .brcrumb li a {
  color: #000;
  font-size: 13px;
}

.subpage .subpageheader .brcrumb li a:after {
  content: '/';
  padding: 0 10px;
}

.subpage .subpagemain {
  padding: 25px 0;
  min-height: 800px;
}

.subpage .subpagemain p {
  font-size: 14px;
}

.subpage .subpagemain .filterrow {
  background: #fff;
  min-height: 40px;
  margin-bottom: 15px;
  margin-right: 0;
  margin-left: 0;
}

.subpage .subpagemain .filterrow h5 {
  line-height: 40px;
  font-weight: 400;
}

.subpage .subpagemain .filterrow .sortcol {
  padding-top: 5px;
}

.subpage .subpagemain .filterrow .sortcol .btn {
  background: none;
}

.subpage .subpagemain .filterrow .sortcol .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.subpage .subpagemain .filterrow .sortcol .dropdown-menu {
  font-size: 13px;
}

.subpage .subpagemain .filterrow .sortcol .dropdown-menu .dropdown-item:hover {
  background: #116b38;
  color: #fff;
}

.subpage .subpagemain .formpage .form-control {
  background: #fff;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  min-height: 42px;
}

.subpage .subpagemain .formpage .form-control::-webkit-input-placeholder {
  color: #ccc;
}

.subpage .subpagemain .formpage .form-control:-ms-input-placeholder {
  color: #ccc;
}

.subpage .subpagemain .formpage .form-control::-ms-input-placeholder {
  color: #ccc;
}

.subpage .subpagemain .formpage .form-control::placeholder {
  color: #ccc;
}

.subpage .subpagemain .formpage .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.subpage .subpagemain .formpage textarea {
  min-height: 120px !important;
}

.subpage .productitem {
  margin-bottom: 15px;
}

.subpage .productbasic-info h2 {
  font-size: 26px;
}

.subpage .productbasic-info .priceproduct .mainprice {
  font-size: 22px;
  color: #f58022;
}

.subpage .productbasic-info .priceproduct .oldprice {
  font-size: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
  font-weight: normal;
  padding: 0 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .subpage .productbasic-info .priceproduct .oldprice {
    padding: 0 10px;
  }
}

.subpage .productbasic-info .priceproduct .percentage {
  background: #116b38;
  color: #fff;
  padding: 4px 13px;
  font-size: 15px;
  font-weight: normal;
}

.subpage .productbasic-info .detailtable {
  margin-top: 10px;
}

.subpage .productbasic-info .detailtable td {
  padding: 6px 6px 6px 0;
  font-size: 14px;
}

.subpage .productrate li {
  list-style: none;
  margin-right: 2px;
}

.subpage .productrate li img {
  width: 20px;
}

.subpage .fgreen {
  color: #116b38;
}

.subpage .forange {
  color: #f58022;
}

.subpage .fgray {
  color: #a6a6a6;
  font-size: 14px;
}

.subpage .buttonsgroup button {
  background: none;
  padding: 10px 15px;
  color: #bebfc5 !important;
  border: 1px solid #bebfc5;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .subpage .buttonsgroup button {
    padding: 7px;
    margin-bottom: 5px;
    font-size: 12px;
  }
}

.subpage .buttonsgroup button:hover {
  border: 1px solid #116b38;
  color: #116b38 !important;
  background: none;
}

.subpage .buttonsgroup button img {
  width: 20px;
  margin-right: 10px;
  float: left;
  margin-top: 2px;
}

.subpage .buttonsgroup button .icomoon {
  font-size: 18px;
  padding-right: 5px;
  margin-top: 2px;
  float: left;
}

@media (min-width: 320px) and (max-width: 767px) {
  .subpage .buttonsgroup button .icomoon {
    display: none;
  }
}

.subpage .buttonsgroup .greenbtn {
  background: #116b38;
  padding: 10px 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid transparent;
  text-align: center !important;
  height: 46px;
  border: none;
}

.subpage .buttonsgroup .greenbtn:hover {
  border: 1px solid #116b38;
  color: #116b38 !important;
  background: none;
}

.subpage .producttab {
  padding: 25px 0;
}

.subpage .producttab .resp-tabs-list {
  background: #fff;
  padding: 10px;
}

.subpage .producttab .resp-tabs-list li {
  background: none !important;
}

.subpage .producttab .resp-tabs-list .resp-tab-active {
  background: #116b38 !important;
}

.subpage .producttab .resp-tabs-container {
  background: #fff;
  padding: 15px;
  margin-top: 4px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .subpage .producttab .resp-tabs-container {
    padding: 0;
  }
}

.subpage h3 {
  font-size: 20px;
  font-weight: normal;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 15px;
}

.subpage h3 a {
  font-size: 14px;
  color: #f58022;
}

.subpage p {
  padding-bottom: 15px;
}

.subpage .spectable {
  font-size: 14px;
}

.subpage .spectable td {
  padding: 10px;
}

.subpage li {
  list-style: none;
}

.subpage .raterow {
  padding: 15px 0;
  border-bottom: 1px dashed #ccc;
}

.subpage .raterow span {
  padding: 0 10px;
}

.subpage .relatedproducts {
  background: #fff;
  padding: 15px;
}

.subpage .relatedproducts .hometitle:before {
  z-index: 0;
}

.subpage .relatedproducts h3 {
  font-size: 49px;
  border: none;
  background: #fff;
  padding-bottom: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .subpage .relatedproducts h3 {
    font-size: 26px;
  }
}

.subpage .relatedproducts .productitem {
  -webkit-box-shadow: 0 0 2px #ccc;
          box-shadow: 0 0 2px #ccc;
}

.subpage .pagelist li {
  font-size: 14px;
  padding-bottom: 15px;
  position: relative;
  text-align: justify;
  line-height: 24px;
}

.subpage .pagelist li:before {
  content: "\e928";
  font-family: 'icomoon' !important;
  font-size: 16px;
  color: #f58022;
  padding-right: 10px;
}

.whiterow {
  background: #fff;
  min-height: 25px;
  padding: 18px 0;
}

.whiterow h4 {
  font-size: 18px;
}

.whiterow h5 {
  font-size: 18px;
  color: #f58022;
}

.smallcol {
  background: #fff;
  min-height: 184px;
  -webkit-box-shadow: 0 0 2px #b8b8b8;
          box-shadow: 0 0 2px #b8b8b8;
  width: 100%;
  padding: 7px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .smallcol {
    min-height: inherit;
  }
}

.smallcol .fgreen {
  font-size: 12px !important;
  padding-bottom: 0;
}

.smallcol figure img {
  height: 100%;
  border: 1px solid #ccc;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  margin-top: 7px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .smallcol article {
    padding: 15px;
  }
}

.smallcol article h5 {
  font-size: 16px;
  padding-bottom: 6px;
}

.smallcol article h5 a {
  color: #000;
}

.smallcol article h5 a:hover {
  color: #116b38;
}

.smallcol article p {
  font-size: 12px !important;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  line-height: 18px;
}

.smallcol .price {
  font-size: 14px;
  color: #f58022;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.smallcol select {
  width: 50px;
  font-size: 12px;
  margin-top: 2px;
}

.smallcol .addstosmallcol {
  padding-top: 6px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .smallcol .addstosmallcol {
    padding: 15px;
  }
}

.smallcol .addstosmallcol li:last-child a:after {
  content: '';
  padding: 0;
}

.smallcol .addstosmallcol li a {
  font-size: 13px;
  color: #000;
}

.smallcol .addstosmallcol li a:after {
  content: '|';
  padding: 0 14px;
}

.smallcol .addstosmallcol li a img {
  width: 13px;
  margin-right: 3px;
}

.smallcol .addstosmallcol li a .icomoon {
  font-size: 18px;
  float: left;
  margin-right: 5px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .smallcol .addstosmallcol li a .icomoon {
    display: none;
  }
}

.rtcart {
  background: #fff;
  -webkit-box-shadow: 0 0 2px #888;
          box-shadow: 0 0 2px #888;
  padding: 12px;
  height: auto;
  width: 100%;
}

.rtcart p {
  font-size: 13px;
}

.rtcart ul li {
  padding: 5px 0;
  border-bottom: 1px solid #dcdcdc;
}

.fbold {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

h4 {
  font-size: 24px;
  text-transform: uppercase;
  color: #f58022;
}

p {
  font-size: 14px;
  line-height: 24px;
}

.sectitle {
  font-size: 22px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.sectitle a {
  font-size: 14px;
}

.accordion h3 {
  font-weight: 500;
  border-bottom: none;
}

.accordion h3 .active {
  border-bottom: none !important;
}

.accordion .intro {
  font-size: 1.25em;
}

.accordion .js .panel-title {
  margin: 0;
}

.accordion .panel-title a {
  border-bottom: 1px dashed #ccc;
  color: #292929;
  display: block;
  padding: 1.25em 0;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 200ms ease 0s;
  transition: color 200ms ease 0s;
  width: 100%;
}

.accordion .panel-title a .icon {
  color: #9e9e9e;
  position: absolute;
  right: 0;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}

.accordion .panel-title a:hover,
.accordion .panel-title a:focus {
  color: #37474f;
}

.accordion .panel-title a:hover .icon,
.accordion .panel-title a:focus .icon {
  color: #f58022;
}

.accordion .panel-title a.active {
  color: #f58022;
}

.accordion .panel-title a.active .icon {
  color: #f58022;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.accordion .js .accordion {
  border-bottom: 1px dashed #ececec;
  margin: 2em 0;
}

.accordion .accordion .panel-title a {
  border-top: 1px dashed #ececec;
}

.accordion [id^="panel-"] {
  padding-bottom: 2em;
  border-bottom: 1px dashed #ccc;
}

.accordion p {
  text-align: justify;
}

.whitebox {
  background: #fff;
  -webkit-box-shadow: 0 0 2px #9f9f9f;
          box-shadow: 0 0 2px #9f9f9f;
  min-height: 100px;
  overflow: hidden;
}

.blogcol {
  position: relative;
  margin-bottom: 25px;
}

.blogcol article {
  background: rgba(0, 0, 0, 0.8);
  height: 86px;
  padding: 20px 15px 0 15px;
  margin-top: -92px;
  position: relative;
}

@media (min-width: 320px) and (max-width: 767px) {
  .blogcol article {
    height: auto;
    margin-top: -7px;
    background: black;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .blogcol article {
    height: auto;
    margin-top: -7px;
    background: black;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .blogcol article {
    height: auto;
    margin-top: -7px;
    background: black;
  }
}

.blogcol article .linkblog {
  background: #f58022;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -35px;
  padding: 6px 15px;
}

.blogcol article .linkblog:hover {
  background: #116b38;
  color: #fff;
}

.blogcol article a {
  font-size: 14px;
  color: #fff;
}

.blogcol article a:hover {
  color: #f58022;
}

.blogcol article p {
  font-size: 14px -2;
  color: #bababa;
  padding-top: 6px;
}

.blogcol article p span:first-child:after {
  content: '|';
  padding: 0 20px;
  color: #bababa;
}

.blogdetail h3 {
  font-size: 20px;
  border-bottom: none;
  padding-bottom: 6px;
}

.blogdetail .det {
  font-size: 14px -2;
  color: #333;
}

.blogdetail .det span:first-child:after {
  content: '|';
  padding: 0 20px;
  color: #bababa;
}

.recentnews h3 {
  border-bottom: 0;
}

.recentnews .recentcol {
  margin-bottom: 20px;
}

.recentnews .recentcol figure {
  position: relative;
}

.recentnews .recentcol figure span {
  background: #f58022;
  color: #fff;
  font-size: 14px;
  top: 0;
  left: 0;
  padding: 6px;
}

.recentnews .recentcol article {
  -webkit-box-shadow: 0 2px 2px #999;
          box-shadow: 0 2px 2px #999;
  padding: 10px;
  margin-top: -9px;
}

.recentnews .recentcol article a {
  font-size: 14px;
  color: #555555;
}

.recentnews .recentcol article a:hover {
  color: #116b38;
}

.iconcontact {
  background: #116b38;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 70px;
}

.iconcontact .svg {
  width: 35px !important;
}

.iconcontact .icomoon {
  font-size: 35px;
  color: #fff;
}

.table-contact td {
  padding: 5px;
  vertical-align: top !important;
}

.table-contact td h6 {
  font-weight: normal;
  font-size: 16px;
  padding-bottom: 0;
  margin-bottom: 3px;
}

.addresscol {
  padding: 14px;
  min-height: 348px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .addresscol {
    min-height: inherit;
    margin-bottom: 20px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .addresscol {
    min-height: auto;
    margin-bottom: 15px;
  }
}

.addresscol a {
  color: #000;
  margin-right: 10px;
}

.addresscol a .svg {
  width: 15px;
  margin-right: 5px;
  float: left;
  margin-top: 4px;
}

.addresscol a .icomoon {
  font-size: 16px;
  padding-right: 5px;
}

.addbtn {
  background: #000;
  color: #fff !important;
  padding: 10px 15px;
  text-align: center;
  margin-top: 50%;
  border: 1px solid transparent;
}

.addbtn:hover {
  color: #000 !important;
  border: 1px solid #000;
  background: #fff;
}

.form-control {
  font-size: 13px !important;
  min-height: 38px;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.successpayment .svg {
  width: 68px;
}

.successpayment .icomoon {
  font-size: 56px;
  color: #f58022;
}

.parentVerticalTab .resp-tabs-container {
  border: none !important;
  background: none;
}

.parentVerticalTab .resp-tabs-container .form-control::-webkit-input-placeholder {
  color: #c2c2c2;
}

.parentVerticalTab .resp-tabs-container .form-control:-ms-input-placeholder {
  color: #c2c2c2;
}

.parentVerticalTab .resp-tabs-container .form-control::-ms-input-placeholder {
  color: #c2c2c2;
}

.parentVerticalTab .resp-tabs-container .form-control::placeholder {
  color: #c2c2c2;
}

.parentVerticalTab .resp-tab-active {
  border: none;
  border-left: 2px solid #f58022 !important;
  margin-bottom: 0 !important;
}

.parentVerticalTab .resp-tabs-list li {
  margin-bottom: 0 !important;
}

.parentVerticalTab .resp-tabs-list li .svg {
  width: 20px;
  float: left;
  margin-top: 0;
  margin-right: 5px;
}

.parentVerticalTab .resp-tabs-list li .icomoon {
  font-size: 18px;
  margin-right: 10px;
  float: left;
}

.small {
  font-size: 11px;
}

.userleftnav h6 {
  background: #f58022;
  color: #fff;
  padding: 10px;
  font-weight: normal;
  line-height: 25px;
}

.userleftnav ul {
  padding: 20px;
}

.userleftnav ul li {
  padding-bottom: 15px;
}

.userleftnav ul li a {
  color: #7d7d7d;
  font-size: 14px;
}

.userleftnav ul li a .svg {
  width: 16px;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
}

.userleftnav ul li a .icomoon {
  font-size: 16px;
  padding-right: 10px;
}

.userleftnav ul li a:hover {
  color: #116b38;
}

.rightprofile {
  min-height: 350px;
}

.rightprofile .profilepic {
  border: 1px solid #ccc;
}

.rightprofile .form-control::-webkit-input-placeholder {
  color: #ccc;
}

.rightprofile .form-control:-ms-input-placeholder {
  color: #ccc;
}

.rightprofile .form-control::-ms-input-placeholder {
  color: #ccc;
}

.rightprofile .form-control::placeholder {
  color: #ccc;
}

.rightprofile .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.rightprofile .svg {
  width: 18px;
  float: left;
  margin-right: 8px;
  margin-top: 3px;
}

.form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.mustpw {
  background: url(../img/userpwleftimg.png) no-repeat center left;
  padding-left: 120px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .mustpw {
    padding-left: 0 !important;
    background: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .mustpw {
    padding-left: 0 !important;
    background: none;
  }
}

.mustpw h5 {
  padding-left: 45px;
  padding-bottom: 20px;
}

.mustpw ul {
  padding-left: 45px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .mustpw ul {
    padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .mustpw ul {
    padding-left: 40px;
  }
}

.mustpw ul li {
  padding-bottom: 20px;
  font-size: 14px;
}

.mustpw ul li::before {
  content: "\e928";
  font-family: 'icomoon' !important;
  font-size: 16px;
  color: #f58022;
  padding-right: 10px;
}

.mustpw ul li .svg {
  font-size: 13px;
}

#html_btn {
  display: none;
}

.new_Btn {
  color: #000;
}

.myorderhistory .taborderhistory .resp-tabs-list {
  text-align: left;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .myorderhistory .taborderhistory .resp-tabs-list {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .myorderhistory .taborderhistory .resp-tabs-list {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.myorderhistory .taborderhistory .resp-tabs-list li {
  background: none !important;
  padding: 10px !important;
  margin: 0 !important;
}

.myorderhistory .taborderhistory .resp-tabs-list li a {
  color: #000;
}

.myorderhistory .taborderhistory .resp-tabs-list li a:hover {
  color: #f58022;
}

.myorderhistory .taborderhistory .resp-tabs-list .resp-tab-active {
  color: #f58022;
  padding: 10px;
  margin: 0 !important;
}

.myorderhistory .taborderhistory .resp-tabs-list .resp-tab-active a {
  color: #f58022;
}

.myorderhistory .coltitle {
  font-size: 20px;
  color: #f58022;
  text-transform: capitalize;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 20px;
}

.myorderhistory .userproduct {
  border-bottom: 1px solid #ccc;
}

.myorderhistory .userproduct .imgproduct img {
  border: 1px solid #ccc;
}

.primarydetails {
  padding: 15px 0 10px 0;
}

.primarydetails h6 {
  color: #000;
  font-size: 14px;
  padding-bottom: 10px;
}

.primarydetails p {
  color: #7d7d7d;
}

.whitebtn {
  background: none;
  padding: 10px 15px;
  color: #bebfc5 !important;
  border: 1px solid #bebfc5;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .whitebtn {
    padding: 7px;
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .whitebtn {
    padding: 7px;
    font-size: 12px;
  }
}

.whitebtn:hover {
  border: 1px solid #116b38;
  color: #116b38 !important;
  background: none;
}

.bankclink {
  font-size: 14px;
}

.bankclink .icomoon {
  font-size: 20px;
  float: left;
  margin-right: 10px;
  margin-top: -3px;
}

.bankclink .svg {
  width: 16px;
  float: left;
  margin-top: 0;
}

.grayblock {
  background: #f9f9f9;
  padding: 20px;
}

.wrreview {
  border-left: 1px solid #ccc;
  padding: 25px;
  text-align: center;
  min-height: 150px;
}

.wrreview .svg {
  width: 18px;
}

.wrreview .productrate li {
  float: none;
  display: inline;
}

.wrreview .productrate li img {
  width: 14px;
}

.ord-status {
  padding: 40px 25px 35px 25px;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}

@media (min-width: 320px) and (max-width: 767px) {
  .ord-status {
    padding: 40px 20px 35px 0px;
  }
}

.ord-status .barcol {
  width: 32.5%;
  position: relative;
}

.ord-status .barcol i {
  font-size: 9px;
  color: #579624;
}

.ord-status .barcol a {
  line-height: 8px;
  position: absolute;
  top: 0;
  left: 0;
}

.ord-status .barcol a.delivered {
  right: 0;
  left: inherit;
}

.ord-status .barcol .sttext {
  font-size: 14px;
  position: absolute;
  top: -25px;
  left: -8%;
}

.ord-status .barcol .deliveredst {
  right: -10%;
  left: inherit;
}

@media (min-width: 320px) and (max-width: 767px) {
  .ord-status .barcol .deliveredst {
    right: -40%;
  }
}

.ord-status .barcol .barstrip {
  position: relative;
  background: #83c44e;
  width: 100%;
  height: 9px;
}

.ord-status .barcol:first-child .barstrip {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.ord-status .barcol:last-child .barstrip {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ord-status .circle {
  width: 10px;
  height: 10px;
  background: #116b38;
  display: block;
  border-radius: 50%;
}

.articlereview p {
  padding-bottom: 10px;
  text-align: justify;
}

.oldprice {
  font-size: 14px;
  color: #a9a9a9;
  text-decoration: line-through;
  font-weight: normal;
  padding: 0 20px 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .oldprice {
    padding-left: 20px;
  }
}

.w-90 {
  width: 90%;
}

.w-15 {
  width: 15%;
}

.occasion p {
  font-size: 13px !important;
}

.occasion .greenlink {
  color: #fff !important;
}

.occasion .greenlink:hover {
  border: 1px solid #116b38;
  color: #116b38 !important;
  background: none;
}

.processcol {
  padding: 15px 0;
}

.processcol h5 span {
  background: #116b38;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  line-height: 24px;
  margin-right: 10px;
}

.processcol figure {
  width: 95px;
  height: 95px;
  background: #fff;
  -webkit-box-shadow: 0 2px 2px #ccc;
          box-shadow: 0 2px 2px #ccc;
  margin: 15px auto;
  border-radius: 50%;
  text-align: center;
  padding-top: 20px;
}

.processcol figure img {
  width: 45px;
}

.processcol figure .icomoon {
  font-size: 45px;
}

.processcol p {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #ccc;
}

@media (min-width: 320px) and (max-width: 767px) {
  .processcol p {
    border: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .processcol p {
    border: none;
  }
}

.processarrow {
  position: relative;
}

.processarrow:after {
  content: '';
  background: url(../img/processarrow.png) no-repeat left center;
  width: 172px;
  height: 51px;
  position: absolute;
  top: 70px;
  left: -100px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .processarrow:after {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .processarrow:after {
    display: none;
  }
}

.listcontent li {
  padding-bottom: 15px;
  font-size: 14px;
  position: relative;
  line-height: 24px;
}

.listcontent li:before {
  content: "\e928";
  font-family: 'icomoon' !important;
  font-size: 16px;
  color: #f58022;
  padding-right: 10px;
}

.serviceform .form-group .form-control::-webkit-input-placeholder {
  color: #c1c1c1 !important;
}

.serviceform .form-group .form-control:-ms-input-placeholder {
  color: #c1c1c1 !important;
}

.serviceform .form-group .form-control::-ms-input-placeholder {
  color: #c1c1c1 !important;
}

.serviceform .form-group .form-control::placeholder {
  color: #c1c1c1 !important;
}

.serviceform .form-group textarea {
  height: 100px;
}

.svgimg img {
  width: 50px;
}

.svgimg .icomoon {
  font-size: 60px;
}

.svgimg .icomoon:hover {
  color: #f58022;
}

.sitemaplinks li:last-child a:after {
  content: '';
}

.sitemaplinks li a {
  color: #000;
  font-size: 14px;
}

.sitemaplinks li a:after {
  content: "|";
  padding: 0 10px;
  color: #000;
}

.sitemaplinks li a:hover {
  color: #116b38;
}

.outofstock {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.outofstock img {
  width: 100px;
}

.mand {
  color: #ff0000;
  padding: 0 2px;
  font-size: 16px;
}

.careercol {
  margin-bottom: 20px;
}

.citycol img {
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
}

@media (min-width: 320px) and (max-width: 767px) {
  .dmnone {
    display: none;
  }
  .saleproducts .resp-accordion {
    padding: 15px;
  }
  .mpx-15 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .mpb-0 {
    padding-bottom: 0 !important;
  }
  .mtcenter {
    text-align: center;
  }
  .cityarticle {
    padding: 15px;
  }
  .mpt-15 {
    padding-top: 15px;
  }
  .mp-15 {
    padding: 15px;
  }
  .mbody header .middle-header {
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    margin-top: -130px;
  }
  .mbody main {
    padding-top: 125px;
  }
  .mbody .bottomnavbar {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .mw100 {
    width: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .dtnone {
    display: none;
  }
  .tpl15 {
    padding-left: 15px !important;
  }
  .tpb-0 {
    padding-bottom: 0 !important;
  }
  .cityarticle {
    padding: 15px;
  }
  .tw100 {
    width: 100% !important;
  }
  .mbody header .middle-header {
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    margin-top: -200px;
  }
  .mbody main {
    padding-top: 166px;
  }
  .mbody .bottomnavbar {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .cityarticle {
    padding: 15px;
  }
  .dlnone {
    display: none;
  }
}

.amma-col {
  background: #fff;
  height: 360px;
  -webkit-box-shadow: 0 0 2px #ccc;
          box-shadow: 0 0 2px #ccc;
  margin-bottom: 25px;
}

.amma-col h4 {
  padding: 15px 10px;
  color: #116b38;
}

.amma-col figure img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.amma-col ul {
  padding: 10px;
}

.amma-col .whitebtn:hover {
  background: #116b38;
  color: #fff !important;
}

.amma-col .activeamma {
  background: #116b38;
  color: #fff !important;
}

.foodvalue .foodbtn .greenlink:hover {
  background: #116b38;
  color: #fff !important;
}

.foodvalue p {
  padding-bottom: 3px;
}

.sel-country {
  background: #fff;
  border: none;
  padding: 5px;
}

.sel-country option {
  color: #000;
}

.sel-country:focus {
  border: none;
  outline: none;
}

.stars {
  background: url("../img/stars.png") repeat-x 0 0;
  width: 150px;
}

form .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}

form .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}

form .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}

form .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}

form .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}

form .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}

form .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 !important;
  padding: 0 !important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent !important;
  cursor: pointer;
}

form .stars label:hover ~ span {
  background-position: 0 -30px;
}

form .stars label.star-5:hover ~ span {
  width: 100% !important;
}

form .stars label.star-4:hover ~ span {
  width: 80% !important;
}

form .stars label.star-3:hover ~ span {
  width: 60% !important;
}

form .stars label.star-2:hover ~ span {
  width: 40% !important;
}

form .stars label.star-1:hover ~ span {
  width: 20% !important;
}

form .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("../img/stars.png") repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
/*# sourceMappingURL=style.css.map */