//colors

$primarycolor:#116b38;//green color
$secondarycolor:#f58022;//orange color
$whitecolor:#fff;//white color
$darkcolor:#000;
$transchocklate:rgba(138,44,4,0.8);
$transboutique:rgba(176,35,54,0.8);
$bodybg:#f9f9f9;
$bluecolor:#00619e;

//tags
$flower:#983372;
$chocklate:#973500;
$cakes:#ff0000;
$biotique:#f4005f;

//services
$medical:#00b29e;
$property:#e69200;
$visa:#f56954;
$onlineradio:#ec3b83;
$onlinetutor:#0073b7;
$visitorinsurance:#ba79cb;

$fsize:14px;

//variables for devices breakpoints
$mobile-width:320px;
$tablet-width:768px;
$laptop-width:992px;
$desktop-width:1200px;


$unchecked-star: '\2606';
$unchecked-color: #888;
$checked-star: '\2605';
$checked-color: #e52;
